.keyboard-commands-frame {
    position: fixed;
    width: 300px;
    height: 600px;
    padding: 20px;
    top: 100%;
    left: 100%;
    margin-left: -360px;
    margin-top: -660px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    @include borderRadius(3px);
    @include boxShadow(0, 2px, 4px, 0, rgba(0, 0, 0, 0.3));
    border: 1px solid #ccc;
    @include transition(all 0.2s ease);
    z-index: 20;
    &.hidden {
        height: 0px;
    }
    .keyboard-commands-close {
        display: inline-block;
        height: 30px;
        width: 30px;
        position: absolute;
        top: 10px;
        left: 100%;
        margin-left: -40px;
        &:after {
            content: '';
            display: inline-block;
            width: 30px;
            height: 30px;
            @include maskImage('../img/close.svg');
            background-color: #ccc;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:hover {
            &:after {
                background-color: #fff;
            }
        }
    }
}

.keyboard-commands__title {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.keyboard-commands-item {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    align-items: center;
    .keyboard-touch-container {
        width: 120px;
        color: #fff;
        line-height: 30px;
        vertical-align: top;
    }
    .keyboard-touch {
        height: 30px;
        line-height: 30px;
        display: inline-block;
        padding: 0 5px;
        @include borderRadius(3px);
        @include boxShadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.3));
        background-color: #efefef;
        color: #333;
        margin: 0 5px;
        font-size: 14px;
        position: relative;
        vertical-align: top;
        border: 1px solid #333;
        &.arrow-right {
            width: 30px;
            padding: 0;
            &:after {
                content: '';
                display: inline-block;
                width: 30px;
                height: 30px;
                @include maskImage('../img/long-arrow-right.svg');
                background-color: #333;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &.arrow-left {
            width: 30px;
            padding: 0;
            &:after {
                content: '';
                display: inline-block;
                width: 30px;
                height: 30px;
                @include maskImage('../img/long-arrow-left.svg');
                background-color: #333;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .keyboard-commands__desc {
        display: inline-block;
        color: #fff;
    }
}