@mixin maskImage($path) {
  -webkit-mask-image: url($path);
  mask-image: url($path);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

@mixin transform($value) {
  transform: $value;
}

@mixin transition($value) {
  transition: $value;
}

@mixin rotate() {
  animation: rotating 1s infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
