@use "sass:color";

@layer base {
  $montserrat: "Montserrat", "Arial", "Helvetica", "verdana";
  $luciole: "Luciole", "Arial", "Helvetica", "verdana";
  $lato: "Lato", "Arial", "Helvetica", "verdana";
  $rubik: "Rubik", "Arial", "Helvetica", "verdana";
  $ubuntu: "Ubuntu", "Arial", "Helvetica", "verdana";
  $bitter: "BitterPro", "Arial", "Helvetica", "verdana";
  $noto: "Noto Sans", "Arial", "Helvetica", "verdana";

  // https://oklch.fyi/ to compute soft
  $yellowHard: #feb11d;
  $yellowSoft: oklch(0.95 0.041 76.2);
  $greenHard: #11977c;
  $greenSoft: rgb(242, 251, 248); // compute from oklch.fyi is too flashy
  $redHard: oklch(0.517 0.204 10.7);
  $redSoft: oklch(0.95 0.025 10.7);
  $blueHard: #1c83d6;
  $blueSoft: oklch(0.95 0.023 249.1);

  @function soft-color($color, $amount: 40%) {
    @return color.mix(white, $color, $amount);
  }

  @function hard-color($color, $amount: 40%) {
    @return color.mix(black, $color, $amount);
  }

  body {
    --font-family: "Noto Sans", "Arial", "Helvetica", "verdana";
    --font-size: 14px;
    --luciole-font-family: "Luciole", "Arial", "Helvetica", "verdana";
    --background-primary: white;
    --background-app: #f5f5f5;

    --primary-color: #{$greenHard};
    --primary-soft: #{$greenSoft};
    --primary-contrast: white;
    --success-color: #{$greenHard};
    --success-soft: #{$greenSoft};
    --danger-color: #{$redHard};
    --red-chart: #{$redHard}; // use danger-color instead
    --danger-soft: #{$redSoft};
    --danger-contrast: white;
    --warning-color: #{$yellowHard};
    --warning-soft: #{$yellowSoft};
    --linkHard: #{$blueHard};
    --linkSoft: #{$blueSoft};
    --red-chart: #{$redChart};

    --dark-100: #333;
    --dark-90: #404040;
    --dark-80: #666;
    --dark-70: #777;
    --dark-60: #ccc;
    --dark-50: #d1d1d1;
    --dark-40: #e1e1e1;
    --dark-20: #f5f5f5;
    --dark-10: #fafafa;

    --neutral-100: oklch(14.5% 0 0); /* quasi noir, avec une pointe de vert */
    --neutral-90: oklch(20.5% 0 0);
    --neutral-80: oklch(26.9% 0 0);
    --neutral-70: oklch(37.1% 0 0);
    --neutral-60: oklch(43.9% 0 0);
    --neutral-50: oklch(55.6% 0 0);
    --neutral-40: oklch(70.8% 0 0);
    --neutral-30: oklch(87% 0 0);
    --neutral-20: oklch(92.2% 0 0);
    --neutral-10: oklch(97% 0 0);
    --neutral-5: oklch(98.5% 0 0);
    --neutral-0: #ffffff;

    --shadow-1: 0px 1px 2px rgba(0, 0, 0, 0.05); /* très léger, boutons discrets */
    --shadow-2: 0px 2px 4px rgba(0, 0, 0, 0.08); /* cartes légères */
    --shadow-3: 0px 4px 8px rgba(0, 0, 0, 0.1); /* modals, survol de boutons */
    --shadow-4: 0px 8px 16px rgba(0, 0, 0, 0.12); /* éléments importants, popover */
    --shadow-5: 0px 16px 32px rgba(0, 0, 0, 0.16); /* overlay / large popups */

    --text-primary: var(--dark-100);
    --text-secondary: var(--dark-80);
    --text-disabled: #aaa;
    --small-contrast: var(--dark-60);

    --background-disabled: #f6f6f6;
    --background-primary-soft: var(--primary-soft);
    --background-primary-hard: var(--primary-hard);
    --background-primary-soft: var(--secondary-soft);
    --background-primary-hard: var(--secondary-hard);
    --background-tertiary-soft: var(--tertiary-soft);
    --background-tertiary-hard: var(--tertiary-hard);
    --background-yellow-soft: var(--yellow-soft);
    --background-yellow-hard: var(--yellow-hard);
    --background-green-soft: var(--green-soft);

    // outdated variable, to delete (keep now for old code)
    --background-lock-turn: #e6e6e6;
    --border-lock-turn: 1px solid #848484;

    --background-inset-section: rgb(249, 249, 249);
    --box-shadow-inset: 0px 0px 1px 0 var(--primary-soft) inset;

    --border-button: 1px solid var(--neutral-30);
    --border-block: 1px solid var(--neutral-20);
    --divider: 1px solid var(--primary-soft);
    --button-background: transparent;
    --button-background-hover: soft-color(var(--primary-soft), 10%);

    --input-background: var(--background-primary);
    --border-input: 1px solid var(--neutral-30);
    --input-focus: var(--primary-soft);

    --bg-highlight: #fff5a4;

    --player-region-background: #a4d6ff54;
    --player-region-background-playing: #39d5b655;

    --tiny-gap: 0.25rem;
    --small-gap: 0.5rem;
    --medium-gap: 1rem;
    --large-gap: 2rem;

    --shadow-block: 0px 0px 8px 0 rgba(67, 76, 95, 0.15);
    --shadow-block-selected: 0px 0px 20px 0 rgba(67, 76, 95, 0.5);
    --shadow-block-left: 3px 0px 8px 0 rgba(67, 76, 95, 0.15);

    --xs-gap: 0.25rem;
    --sm-gap: 0.5rem;
    --md-gap: 1rem;
    --lg-gap: 2rem;
    --xl-gap: 4rem;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
  }

  // @media (prefers-color-scheme: dark) {}
  html[data-theme="dark"] body {
    --text-disabled: #666;
    --background-disabled: #333;
    --background-inset-section: rgb(51, 51, 51);

    --border-button-glass: 1px solid #25252588;
    --shadow-block: 0px 0px 8px 0 rgb(0, 0, 0, 0.5);
    --shadow-block-selected: 0px 0px 20px 0 rgb(0, 0, 0, 0.7);
    --shadow-block-left: 3px 0px 8px 0 rgb(0, 0, 0, 0.5);

    --input-focus: #0c0c0c;

    --bg-highlight: #484211;
    --primary-contrast: #000;
  }
}
