@charset "utf-8";
@use "./_layer.scss";
@use "./_variables.scss";
@use "./_material-colors-variables.scss";
@use "./_material-colors-variables-dark.scss";
// Global
@use "./_global.scss";
@use "./_material-colors.scss";

// Base components with higher priority
@use "./components/icons.scss";
@use "./components/icon-system.scss";
@use "./components/forms.scss";
@use "./components/link.scss";
@use "./components/buttons.scss";

// Views
@use "./views/app.scss";
@use "./views/conversations.scss";
@use "./views/conversation-create.scss";
@use "./views/conversation-overview.scss";
@use "./views/conversation-status.scss";
@use "./views/organizations.scss";
@use "./views/error.scss";
@use "./views/conversation-publish.scss";
@use "./views/quickSession.scss";

@use "./views/backoffice-table.scss";
@use "./views/backoffice-main.scss";

// Components
@use "./components/app-header.scss";
@use "./components/app-notif.scss";
@use "./components/conversations-list.scss";
@use "./components/pagination.scss";
@use "./components/tables.scss";
@use "./components/tabs.scss";
@use "./components/transcript-editor.scss";
@use "./components/transcript-helper.scss";
@use "./components/search-member-form.scss";
@use "./components/statCard.scss";
@use "./components/select.scss";
@use "./components/switch.scss";
@use "./components/user.scss";
@use "./components/keyword.scss";
@use "./components/menuToolbox.scss";
@use "./components/labeled-value.scss";
@use "./components/contextMenu.scss";
@use "./components/subtitle-editor.scss";
@use "./components/droparea.scss";
@use "./components/highlights-list.scss";
@use "./components/modal-metadata.scss";
@use "./components/selected-conversation-indicator.scss";
@use "./components/progress.scss";
@use "./components/search-result-paginator.scss";
@use "./components/session.scss";
@use "./components/sessions-list.scss";
@use "./components/chip.scss";
@use "./components/appointment-selector.scss";
@use "./components/status-led.scss";
@use "./components/metadata-editor.scss";
@use "./components/transcriber-profile-editor.scss";
@use "./components/organization-badge.scss";
@use "./components/organization-selector.scss";
@use "./components/header-bar.scss";
@use "./components/explore.scss";
@use "./components/typography.scss";

@use "./components-mobile/app-mobile.scss";
@use "./components-mobile/sidebar.scss";
@use "./components-mobile/session-mobile.scss";
@use "./components-mobile/burger-menu.scss";
