@use "sass:meta";

@layer base, theme;

@layer theme {
  @include meta.load-css("../../European-Union/style/checkbox");
  @include meta.load-css("../../European-Union/style/forms");
  @include meta.load-css("../../European-Union/style/select");
  @include meta.load-css("../../European-Union/style/text");
  @include meta.load-css("../../European-Union/style/radio");

  body {
    --blue-chart: #3860ed;
    --red-chart: #fe346e;

    --primary-color: #080e2b;
    --primary-contrast: #fff;

    --secondary-color: #ffcb7c;
    --tertiary-color: var(--red-chart);

    --dark-100: #26324b;
    --dark-80: #546fa6;
    --dark-60: #99aacc;

    --neutral-100: #b9c5e9;
    --neutral-80: #cdd5ef;
    --neutral-60: #b9c5e9;

    --background-app: rgb(250, 250, 250);

    --background-primary: #fff;

    --input-background: #f7faff;

    --selected-background: #f3f5fb;
  }

  html[data-theme="dark"] body {
    --dark-100: #ccc;
    --dark-80: #aaa;
    --dark-60: #666;

    --background-app: rgb(48, 48, 48);
    --background-primary: #252525;

    --button-background: #1a1a1a;
    --button-image-background: linear-gradient(#1a1a1a, #1a1a1a);
    --button-background-hover: #333;

    --input-background: #1a1a1a;
  }
}
