/* latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300 900;
  src: url(NotoSans-VariableFont_wdth.ttf) format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 300 900;
  src: url(NotoSans-Italic-VariableFont_wdth.ttf) format("truetype");
}
