/* latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url(NotoSans-VariableFont_wdth.woff2) format("woff2");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url(NotoSans-Italic-VariableFont_wdth.woff2) format("woff2");
}
