**/node_modules
./database
**/.env
**/package-lock.json
**/test-sample
**/audios
**/dist
**/storages/audios/*
**/storages/pictures/*
**/storages/audiowaveform/*
**/storages/database/*
**/mongo-seeds/init.js
!/storages/pictures/default.jpg
**/platform-conversation-manager-front/*