#app {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--background-primary);
}

#app-view {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--background-app); // #fbfbfb
}

.app-view-content {
  overflow: auto;
  position: relative;
  padding: 0;
  main {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    &.no-padding-left {
      padding: 0;
    }
    &.scrollable {
      overflow: auto;
    }

    &.box {
      & > .main__content {
        margin-top: 2rem;
        border: var(--border-block);
        background-color: var(--background-primary);
        border-radius: 4px;
        box-shadow: var(--shadow-block);
        min-height: fit-content;
      }
    }

    & > .main__content {
      padding: 0rem 2rem 1rem 2rem;
      width: 1200px;
      max-width: calc(100% - 4rem);
      margin: 0 auto;
      box-sizing: border-box;
    }

    & > .main__content[fullwidth] {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }
}

.no-result {
  display: inline-block;
  padding: 20px;
  font-style: italic;
}

.sidebar-divider {
  border-top: var(--border-block);
  margin: 0.5rem 0rem;
}
