.select__list__inner {
  background-color: #fff;
  border: var(--border-button);
}

.select__list__item {
  background-color: var(--background-primary);
  background-image: none;
  box-shadow: none;
}
