@use "text.scss" as text-theme;
@use "mobile/text.scss" as mobile-text-theme;

@layer base, theme;

@layer theme {
  html[data-theme="dark"] body {
    --yellow-chart: #976400;
    --blue-chart: #479ae4;
    --green-chart: #139177;
    --red-chart: #c42653;

    --dark-100: #ccc;
    --dark-80: #aaa;
    --dark-60: #666;
    --dark-40: #444;
    --dark-20: #222;
    --dark-10: #111;
    --neutral-100: #ccc;
    --neutral-80: #aaa;
    --neutral-60: #666;
    --neutral-40: #444;
    --neutral-20: #222;
    --neutral-10: #111;

    --background-app: rgb(48, 48, 48);
    --background-primary: #252525;

    --button-background: #1a1a1a;
    --button-image-background: linear-gradient(#1a1a1a, #1a1a1a);
    --button-background-hover: #333;

    --input-background: #1a1a1a;

    --selected-background: #13917833;
  }
}
