/** =================== Ubuntu =================== **/

/** Ubuntu light **/

@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: normal;
  src: url("Ubuntu-Light.ttf") format("truetype");
}

/** Ubuntu light italic **/

@font-face {
  font-family: "Ubuntu";
  font-weight: 300;
  font-style: italic;
  src: url("Ubuntu-LightItalic.ttf") format("truetype");
}

/** Ubuntu normal **/
@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  src: url("Ubuntu-Regular.ttf") format("truetype");
}

/** Ubuntu normal-Italic **/

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: italic;
  src: url("Ubuntu-Italic.ttf") format("truetype");
}

/** Ubuntu bold **/

@font-face {
  font-family: "Ubuntu";
  font-weight: 600;
  font-style: normal;
  src: url("Ubuntu-Bold.ttf") format("truetype");
}

/** Ubuntu bold-Italic **/

@font-face {
  font-family: "Ubuntu";
  font-weight: 600;
  font-style: italic;
  src: url("Ubuntu-BoldItalic.ttf") format("truetype");
}
