@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4 {
    display: inline-block;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 40px 0;
    color: $blueChart;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 0 0 5px 0;
}

.flex {
    display: flex;
    &.col {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    &.flex-end {
        align-items: flex-end;
    }
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.hidden {
    display: none;
}

button,
a {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    @include cancelBoxShadow();
    background-color: transparent;
    font-family: inherit;
    &:focus,
    &:active {
        outline: none;
    }
    &.btn {
        &.btn--txt-icon {
            background-color: #fff;
            height: 40px;
            padding: 0 15px;
            @include borderRadius(20px);
            @include buttonShadow();
            @include transition(all 0.3s ease);
            position: relative;
            z-index: 1;
            overflow: hidden;
            .label {
                display: inline-block;
                font-size: 16px;
                line-height: 40px;
                font-weight: 700;
                z-index: 5;
                vertical-align: top;
                @include transition(all 0.3s ease);
            }
            .icon {
                display: inline-block;
                width: 20px;
                height: 20px;
                position: relative;
                vertical-align: top;
                margin: 10px 0 10px 5px;
                @include transition(all 0.3s ease);
                &.icon__plus {
                    @include maskImage('../img/plus.svg');
                }
                &.icon__cancel {
                    @include maskImage('../img/cancel.svg');
                }
                &.icon__apply {
                    @include maskImage('../img/apply.svg');
                }
                &.icon__trash {
                    @include maskImage('../img/trash-big.svg');
                }
                &.icon__transcription {
                    @include maskImage('../img/abstract.svg');
                }
                &.icon__backto {
                    @include maskImage('../img/backto.svg');
                }
                &.icon__share {
                    @include maskImage('../img/hand-shake.svg');
                }
            }
            &:hover {
                background-color: #fff;
            }
            &:focus {
                &:before {
                    display: inline-block;
                    content: "";
                    /*@include animateClick();*/
                }
            }
            &.green {
                .label {
                    color: $greenChart;
                }
                .icon {
                    background-color: $greenChart;
                }
                &:hover {
                    background-color: $greenChart;
                    @include buttonShadowHover();
                    .label {
                        color: #fff;
                    }
                    .icon {
                        background-color: #fff;
                    }
                }
            }
            &.green-green {
                background-color: $greenChart;
                .label {
                    color: #fff;
                }
                .icon {
                    background-color: #fff;
                }
                &:hover {
                    background-color: rgba(66, 212, 186, 0.8);
                    @include buttonShadowHover();
                }
            }
            &.red {
                background-color: rgba(254, 52, 110, 0.7);
                .label {
                    color: #fff;
                }
                .icon {
                    background-color: #fff;
                }
                &:hover {
                    background-color: $redChart;
                    @include buttonShadowHover();
                }
            }
            &.grey {
                margin-right: 20px;
                background-color: rgba(0, 0, 0, 0.4);
                .label {
                    color: #fff;
                }
                .icon {
                    background-color: #fff;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                    @include buttonShadowHover();
                }
            }
            &.blue {
                .label {
                    color: $blueChart;
                }
                .icon {
                    background-color: $blueChart;
                }
                &:hover {
                    background-color: $blueChart;
                    @include buttonShadowHover();
                    .label {
                        color: #fff;
                    }
                    .icon {
                        background-color: #fff;
                    }
                }
            }
        }
        &.btn--txt {
            height: 30px;
            @include borderRadius(3px);
            padding: 0 5px;
            @include buttonShadow();
            @include transition(all 0.3s ease);
            margin: 5px;
            background-color: #fff;
            .label {
                display: inline-block;
                line-height: 30px;
                font-size: 16px;
                font-weight: 600;
            }
            &.btn--txt__save {
                .label {
                    color: $greenChart;
                }
                &:hover {
                    background-color: $greenChart;
                    .label {
                        color: #fff;
                    }
                }
            }
            &.btn--txt__cancel {
                .label {
                    color: #555;
                }
                &:hover {
                    background-color: #555;
                    .label {
                        color: #fff;
                    }
                }
            }
        }
    }
    &.btn--icon {
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color: #fff;
        @include borderRadius(3px);
        @include buttonShadow();
        @include transition(all 0.3s ease);
        position: relative;
        z-index: 1;
        .icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: $greenChart;
            @include transition(background-color 0.3s ease);
            &.icon--edit {
                @include maskImage('../img/edit.svg');
            }
            &.icon--play {
                @include maskImage('../img/listen.svg');
            }
            &.icon--add {
                @include maskImage('../img/plus.svg');
            }
            &.icon--apply {
                @include maskImage('../img/apply.svg');
            }
            &.icon--cancel {
                @include maskImage('../img/cancel.svg');
            }
            &.icon--remove {
                background-color: rgba(254, 52, 110, 0.5);
                @include maskImage('../img/trash.svg');
            }
            &.icon--close {
                background-color: rgba(254, 52, 110, 0.5);
                @include maskImage('../img/close.svg');
            }
            &.icon--list {
                @include maskImage('../img/agenda.svg');
            }
        }
        &.grey {
            .icon {
                background-color: #656565;
            }
        }
        &:hover,
        &.active {
            background-color: $greenChart;
            @include buttonShadowHover();
            .icon {
                background-color: #fff;
                &.icon--remove,
                &.icon--close {
                    background-color: $redChart;
                }
            }
            &.grey {
                background-color: #656565;
            }
        }
    }
    &:focus {
        &:before {
            display: inline-block;
            content: "";
            /*@include animateClick();*/
        }
    }
    &.btn--inline {
        border: none;
        @include cancelBoxShadow();
        @include borderRadius(0px);
        .label {
            font-size: 16px;
            font-weight: 600;
        }
        &:hover {
            color: $greenChart;
            text-decoration: underline;
        }
    }
    &.btn--icon__no-bg {
        background-color: transparent;
        @include cancelBoxShadow();
        &:hover {
            background-color: transparent;
            @include cancelBoxShadow();
        }
    }
    &.btn--small {
        display: inline-block;
        padding: 5px;
        @include borderRadius(3px);
        @include boxShadow(1px,
        1px,
        2px,
        0,
        rgba(0, 0, 0, 0.2));
        @include transition(all 0.3s ease);
        .label {
            font-size: 15px;
            font-weight: 700;
        }
        &.blue-dark {
            .label {
                color: $blueChart;
            }
            &:hover {
                background-color: $blueChart;
                .label {
                    color: #fff;
                }
            }
        }
        &.green {
            .label {
                color: $greenChart;
            }
            &:hover {
                background-color: $greenChart;
                .label {
                    color: #fff;
                }
            }
            &.border {
                border: 1px solid $greenChart;
            }
        }
    }
}

.table {
    margin: 20px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    thead {
        border-bottom: 1px solid #8e8e8e;
        th {
            text-align: left;
            vertical-align: middle;
            padding: 10px 15px;
            .table-th-filter {
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                color: #555;
                position: relative;
                &:hover {
                    color: $blueChart;
                }
                &.selected {
                    color: $blueChart;
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 0;
                        left: 105%;
                        @include maskImage('../img/filter-arrow.svg');
                        background-color: $blueChart;
                        @include transition(all 0.3s ease);
                    }
                    &.up {
                        &:after {
                            @include transform(rotate(180deg));
                        }
                    }
                }
            }
        }
    }
    tbody {
        border-collapse: separate;
        tr {
            td {
                max-width: 420px;
                padding: 20px 10px;
                font-size: 16px;
                color: $greyLight;
                &.title {
                    font-weight: 600;
                    color: $greenChart;
                }
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
                @include boxShadow(0,
                2px,
                3px,
                0,
                rgba(0, 0, 0, 0.2));
                cursor: pointer;
                td.title {
                    color: $blueChart;
                }
            }
        }
    }
}

.form--label {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 5px 0;
    color: $blueChart;
}

textarea,
input[type="text"],
input[type="password"],
select {
    font-family: $comfortaa;
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    border: 1px solid $blueLight;
    min-width: 140px;
    @include borderRadius(3px);
    &.error {
        border-color: $redChart;
    }
    &:focus,
    &:active {
        outline: 1px solid $blueLight;
    }
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 320px;
}

input[type="text"],
input[type="password"],
select {
    max-width: 280px;
}

.error-field {
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: $redChart;
}

.custom-checkbox {
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
    margin: 0 10px;
    background-color: #fff;
    position: relative;
    @include borderRadius(3px);
    @include boxShadow(0,
    1px,
    2px,
    0,
    rgba(0, 0, 0, 0.2));
    &:hover {
        border-color: $greenChart;
    }
    &:after {
        display: none;
    }
    &.selected {
        border-color: $greenChart;
        &:after {
            display: inline-block;
            content: '';
            width: 30px;
            height: 30px;
            position: absolute;
            top: -8px;
            left: -3px;
            @include maskImage('../img/apply.svg');
            background-color: $greenChart;
        }
    }
}

.btn-toggle {
    background: #fff;
    vertical-align: top;
    margin: 2px 5px;
    display: inline-block;
    width: 40px;
    height: 20px;
    @include borderRadius(20px);
    @include transition(all 0.3s ease);
    border: 1px solid;
    position: relative;
    &.enabled {
        border-color: $greenChart;
    }
    &.disabled {
        border-color: $redLight;
    }
    .btn-toggle-circle {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 1px;
        background: red;
        @include borderRadius(10px);
        @include transition(all 0.3s ease);
        &.disabled {
            left: 2px;
            background-color: $redLight;
        }
        &.enabled {
            left: 100%;
            margin-left: -18px;
            background-color: $greenChart;
        }
    }
    &:hover {
        &.disabled {
            border-color: $redChart;
        }
        .btn-toggle-circle {
            &.disabled {
                background-color: $redChart;
            }
        }
    }
}


/* SHARE WITH LIST */

.share-with-list {
    border-collapse: collapse;
    margin: 10px 0;
    thead {
        tr {
            th {
                text-align: left;
            }
        }
    }
    tbody {
        tr {
            background-color: $blueXLight;
            td {
                padding: 10px;
                &.img {
                    width: 30px;
                }
            }
            border-bottom: 1px solid #ccc;
        }
    }
    .share-with-list-img {
        display: inline-block;
        height: 30px;
        width: 30px;
        @include borderRadius(15px);
        overflow: hidden;
    }
}