#app-view {
    position: relative;
    margin: 0;
    padding: 0;
}

.app-view-content {
    overflow: auto;
    padding: 0;
    &>div {
        padding: 40px;
        overflow: hidden;
        &.no-padding-left {
            padding: 0 40px 0 0;
        }
    }
}