#app {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: $blueXLight;
    background: linear-gradient(360deg, rgba(236, 248, 255, 0.7) 0%, rgba(236, 249, 255, 0.9) 100%);
}