#selected-text-toolbox {
    position: absolute;
    top: 0;
    left: 0;
    background: #efefef;
    border: 1px solid #ccc;
    z-index: 20;
    padding: 10px 30px 10px 10px;
    @include borderRadius(3px);
    @include blockShadow();
    align-items: flex-start;
    .selected-text-toolbox--btn {
        display: inline-block;
        height: 25px;
        padding: 0 5px;
        margin: 3px 0;
        position: relative;
        @include transition(all 0.3s ease);
        @include borderRadius(3px);
        min-width: 120px;
        white-space: nowrap;
        .icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: $blueChart;
            margin: 2px 2px 0 0;
            vertical-align: top;
            @include transition(all 0.3s ease);
            &.keywords {
                @include maskImage('../img/keywords.svg');
            }
            &.highlights {
                @include maskImage('../img/marker.svg');
            }
            &.split {
                @include maskImage('../img/split.svg');
            }
            &.merge {
                @include maskImage('../img/merge.svg');
            }
            &.comment {
                @include maskImage('../img/comment.svg');
            }
        }
        .label {
            display: inline-block;
            height: 25px;
            line-height: 25px;
            color: $blueChart;
            font-weight: 600;
            font-size: 14px;
            @include transition(all 0.3s ease);
            vertical-align: top;
        }
        &:hover {
            background-color: $blueChart;
            .icon {
                background-color: #fff;
            }
            .label {
                color: #fff;
            }
        }
        &.close {
            position: absolute;
            top: 0;
            left: 100%;
            height: 25px;
            width: 25px;
            min-width: 25px;
            padding: 0;
            background-color: transparent;
            margin: 0 0 0 -25px;
            &:after {
                content: "";
                display: inline-block;
                width: 25px;
                height: 25px;
                position: absolute;
                top: 0;
                left: 0;
                @include maskImage('../img/close.svg');
                background-color: $redChart;
            }
            &:hover {
                background-color: $redChart;
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
}