#app-header {
    height: 40px;
    justify-content: flex-end;
    background: transparent;
    border-bottom: 1px solid #fff;
    padding: 20px 40px;
}

.header-lang-btn-container {
    margin: 0 20px;
    align-items: center;
    span {
        display: inline-block;
        font-size: 14px;
        color: #333;
        vertical-align: top;
        padding: 0 3px;
    }
    .header-lang-btn {
        display: inline-block;
        width: 23px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: 23px 15px;
        vertical-align: top;
        &.fr {
            &.active,
            &:hover {
                background-image: url('../img/flags/fr.svg');
            }
            background-image: url('../img/flags/fr-30.svg');
        }
        &.en {
            &.active,
            &:hover {
                background-image: url('../img/flags/en.svg');
            }
            background-image: url('../img/flags/en-30.svg');
        }
    }
}


/* User Menu */

.user-menu {
    position: relative;
    .user-menu-btn {
        height: 40px;
        min-width: 160px;
        @include borderRadius(20px);
        background-color: #fff;
        vertical-align: top;
        @include buttonShadow();
        @include transition(all 0.2s ease);
        .user-menu-btn--img {
            display: inline-block;
            height: 32px;
            width: 32px;
            @include borderRadius(20px);
            border: 2px solid #fff;
            vertical-align: top;
            margin: 2px;
        }
        .user-menu--name {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            font-weight: 700;
            vertical-align: top;
            padding-left: 10px;
            max-width: 300px;
            overflow: hidden;
        }
        .user-menu-btn--arrow {
            display: inline-block;
            height: 20px;
            width: 20px;
            vertical-align: top;
            margin: 10px 5px 0 10px;
            @include maskImage('../img/triangle.svg');
            background-color: $greenChart;
            @include transition(all 0.2s ease);
        }
        &:hover {
            @include buttonShadowHover();
            background-color: #fcfcfc;
            .user-menu-btn--arrow {
                background-color: $blueChart;
            }
        }
        &.opened {
            @include borderRadiusMulti(20px,
            20px,
            0,
            0);
        }
    }
    .user-menu-links {
        &.opened {
            @include buttonShadow();
            display: inline-block;
            width: 100%;
            position: absolute;
            top: 39px;
            left: 0;
            background-color: #fff;
            padding: 10px 0;
            @include borderRadiusMulti(0,
            0,
            20px,
            20px);
        }
        &.closed {
            display: none;
        }
        .user-menu-links--item {
            padding: 5px 10px;
            margin: 0 10px;
            height: 20px;
            text-decoration: none;
            white-space: nowrap;
            .label {
                font-size: 14px;
                font-weight: 600;
                margin-left: 5px;
                height: 20px;
                line-height: 20px;
                vertical-align: top;
                color: $blueChart;
            }
            .icon {
                display: inline-block;
                height: 20px;
                width: 20px;
                vertical-align: top;
                @include maskImage('../img/edit.svg');
                background-color: $blueChart;
            }
            &:hover {
                background-color: $blueChart;
                .label {
                    color: #fff;
                }
                .icon {
                    background-color: #fff;
                }
            }
        }
    }
}

.header-logout {
    margin-left: 20px;
    #logout {
        display: inline-block;
        width: 40px;
        height: 40px;
        @include borderRadius(20px);
        background-color: transparent;
        @include cancelBoxShadow();
        @include transition(all 0.2s ease);
        .icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 5px;
            @include maskImage('../img/logout.svg');
            background-color: $redChart;
            @include transition(all 0.2s ease);
        }
        &:hover {
            @include buttonShadow();
            background-color: $redChart;
            .icon {
                background-color: #fff;
            }
        }
    }
}