.login-form-wrapper {
    overflow: auto;
    padding: 40px;
}

.login-form-container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    h2 {
        text-align: center;
    }
    .login-logo {
        display: inline-block;
        height: 100px;
        width: auto;
        margin: 0 0 20px 0;
    }
    .toggle-login-link {
        color: $blueChart;
        font-weight: 600;
        display: inline-block;
        &:hover {
            color: $greenChart;
        }
    }
}

#app-login {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    @include borderRadius(3px);
    @include blockShadow();
    align-items: center;
    .form-field {
        input[type="text"],
        input[type="password"] {
            background-color: #edf8ff;
        }
    }
}