input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
select,
textarea,
progress.hoverInput,
.form-field[select-like] .form-value,
.collab-input {
  border: 1px solid var(--dark-80);
  padding-inline: 1rem;
  max-width: 20rem;
  min-width: 10rem;
  line-height: 28px;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 2px;
  //@include transition(all 0.2s ease);
  background-color: var(--input-background);
  color: var(--text-primary);
  height: 40px;

  &.error {
    border: 1px solid var(--red-chart);
  }

  &:focus,
  &:active {
    outline: 1px solid var(--text-secondary);
    background-color: var(--input-focus);
  }
  &[disabled] {
    color: var(--text-disabled);
    outline-color: var(--text-disabled);
  }
  &.fullwidth {
    width: 100%;
    max-width: none;
  }
}

.form-field[select-like] .form-value {
  border-color: var(--text-disabled);
  outline-color: var(--text-disabled);
  background-color: var(--background-disabled);
  display: flex;
  align-items: center;
}

progress.hoverInput {
  background-color: transparent;
  color: var(--primary-color);
  padding-inline: 0;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0.15rem 0.3rem;
  outline: none !important;
  &:hover {
    cursor: pointer;
  }
}

label,
.form-label {
  color: var(--text-secondary);
  //font-size: 14px;
  //font-weight: 500;

  &:hover {
    cursor: pointer;
  }
}

.error-field {
  padding: 3px 0;
  font-size: 13px;
  color: var(--red-chart);
}

form[disabled] .form-label,
form[disabled] form {
  color: var(--text-disabled);
}

input.search,
input[type="search"] {
  line-height: 30px;
  padding-right: 20px;
  background-image: url("../public/img/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 100% center;
}

.form--highlights {
  width: calc(3 * 278px + 1rem);
}

fieldset[role="listbox"] {
  padding: 1rem;
  border-radius: 4px;
  border: var(--border-block);
  box-shadow: var(--shadow-block);
  margin: 2px;

  legend {
    float: left;
    width: 100%;
    //padding: 0;
    //padding: 0 5px;
    font-variant: small-caps;
  }
}

.service-box > input:checked + label,
fieldset[role="listbox"][selected="selected"] {
  border-color: var(--primary-color);
  border-width: 2px;
  legend {
    color: var(--primary-color);
  }
  margin: 0px;
  box-shadow: var(--shadow-block-selected);
  //background-color: #28998314;
  padding: 1rem;
}

.form-value {
  height: 40px;
}
