@use "sass:meta";

@layer base, theme;

@layer theme {
  @include meta.load-css("text");

  body {
    --font-family: "Arial", "Noto Sans", "sans-serif";
    --font-size: 15px;
    --blue-chart: #3860ed;
    --red-chart: #fe346e;

    --primary-color: #3860ed;
    --primary-hard: #3860ed;
    --primary-soft: oklch(0.948 0.021 266.7);
    --primary-contrast: #fff;
  }

  html[data-theme="dark"] body {
    --dark-100: #ccc;
    --dark-80: #aaa;
    --dark-60: #666;

    --background-app: rgb(48, 48, 48);
    --background-primary: #252525;

    --button-background: #1a1a1a;
    --button-image-background: linear-gradient(#1a1a1a, #1a1a1a);
    --button-background-hover: #333;

    --input-background: #1a1a1a;

    // Dark theme text colors
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
  }
}
