@layer base, theme;

@layer theme {
  // Don't import to avoid conflicts
  // @import "buttons.scss";
  // @import "checkbox.scss";
  // @import "forms.scss";
  // @import "select.scss";
  @import "text.scss";
  // @import "radio.scss";
  // @import "mobile/text.scss";

  body {
    --font-family: "Arial", "sans-serif";

    --blue-chart: #3860ed;
    --red-chart: #fe346e;

    --primary-color: #3860ed;
    --primary-hard: #3860ed;
    --primary-soft: #eef2ff;
    --primary-contrast: #fff;
  }

  html[data-theme="dark"] body {
    --dark-100: #ccc;
    --dark-80: #aaa;
    --dark-60: #666;

    --background-app: rgb(48, 48, 48);
    --background-primary: #252525;

    --button-background: #1a1a1a;
    --button-image-background: linear-gradient(#1a1a1a, #1a1a1a);
    --button-background-hover: #333;

    --input-background: #1a1a1a;

    // Dark theme text colors
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
  }
}
