@layer base, theme;

@layer theme {
  // Don't import to avoid conflicts
  // @import "buttons.scss";
  @import "checkbox.scss";
  @import "forms.scss";
  @import "select.scss";
  @import "text.scss";
  @import "radio.scss";
  @import "mobile/text.scss";

  body {
    --font-family: "Arial" "sans-serif";

    --blue-chart: #3860ed;
    --red-chart: #fe346e;

    --dark-100: #26324b;
    --dark-80: #546fa6;
    --dark-60: #99aacc;

    --neutral-100: #b9c5e9;
    --neutral-80: #cdd5ef;
    --neutral-60: #e0e5f5;
    --neutral-40: #f3f5fb;
    --neutral-20: #f8f9fd;

    --primary-color: #3860ed;
    --primary-hard: #3860ed;
    --primary-soft: #e0e5f5;
    --primary-contrast: #fff;

    --secondary-color: #ffcb7c;
    --tertiary-color: var(--red-chart);

    --background-app: var(--neutral-40);

    --input-background: #f7faff;

    --selected-background: #f3f5fb;

    --border-block: 1px solid var(--dark-60);
  }

  html[data-theme="dark"] body {
    --dark-100: #ccc;
    --dark-80: #aaa;
    --dark-60: #666;

    --background-app: rgb(48, 48, 48);
    --background-primary: #252525;

    --button-background: #1a1a1a;
    --button-image-background: linear-gradient(#1a1a1a, #1a1a1a);
    --button-background-hover: #333;

    --input-background: #1a1a1a;
  }
}
