table {
  //border-collapse: inherit !important;
  border: 1px solid var(--neutral-60);
}

thead {
  background-color: var(--neutral-100);
}

th,
td {
  padding: 0.5rem 1rem !important;
  border: 1px solid var(--neutral-60);
}

button.table-header-button,
.table-header-button.btn {
  min-width: auto;
}

.table-header-button {
  color: var(--dark-100) !important;
  text-transform: initial !important;
  font-size: 1rem !important;

  .label {
    color: var(--dark-100);
  }

  .icon {
    background-color: var(--dark-100) !important;
  }
}

table.table-grid {
  gap: 1px;

  th,
  td {
    border: none;

    outline: 1px solid var(--neutral-60);
  }
}
