#vertical-navigation {
    padding: 20px;
    background-color: $secondaryDark;
    z-index: 10;
    width: 200px;
    @include boxShadow(0, 2px, 4px, 0, rgba(0, 0, 0, 0.3));
    @include transition(all 0.2s ease);
    .app-logo {
        height: 100px;
        text-align: center;
        .app-logo--img {
            display: inline-block;
            height: auto;
            width: 100%;
        }
    }
    .toggle-nav {
        height: 40px;
        margin: 20px 0;
        position: relative;
        text-align: center;
        ;
        .toggle-nav--btn {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: #dedede;
            vertical-align: top;
            @include maskImage('../img/nav-toggle.svg');
            @include transform(rotate(180deg));
            @include transition(all 0.2s ease);
            position: relative;
            &.closed {
                @include transform(rotate(0deg));
            }
            &:hover {
                background-color: #fff;
            }
        }
    }
    .app-nav {
        .app-nav-link {
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            color: #dedede;
            text-decoration: none;
            padding: 20px 0;
            position: relative;
            @include transition(all 0.2s ease-in-out);
            &:after {
                content: "";
                display: inline-block;
                height: 1px;
                width: 0px;
                position: absolute;
                top: 40px;
                left: 0;
                background: #fff;
                @include transition(all 0.2s ease-in-out);
            }
            &:hover {
                color: #fff;
                &:after {
                    width: 100%;
                }
            }
        }
    }
    &.small {
        width: 60px;
        .app-logo {
            .app-logo--img {
                height: 60px;
                width: 60px;
            }
        }
        .app-nav {
            .app-nav-link {
                display: none;
            }
        }
    }
}