button,
a {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    color: #333;
    font-family: inherit;
    position: relative;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    &:focus,
    &:active {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}

a {
    font-weight: 500;
    &:hover {
        text-decoration: underline;
    }
}

button,
.btn {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #aaa;
    &:hover {
        background-color: #ddd;
        text-decoration: none;
    }
}