input,
select,
textarea {
    border: 1px solid #ccc;
    display: inline-block;
    @include cancelBoxShadow();
    padding: 5px;
    margin: 5px 0;
    max-width: 320px;
    box-sizing: border-box;
    background-color: #fff;
    &.error {
        border: 1px solid $redChart;
    }
}

.error-field {
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
    color: $redChart;
}

.search-member-list {
    max-width: 320px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
    .search-member-btn {
        width: 100%;
        padding: 3px 0;
        border: none;
        &:hover {
            border: none;
        }
    }
}

.search-member-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.search-member-identity {
    display: inline-block;
    i {
        font-style: italic;
        color: #555;
    }
}