input,
select,
textarea {
    border: 1px solid #aaa;
    display: inline-block;
    @include cancelBoxShadow();
    padding: 5px;
    margin: 5px 0;
    max-width: 320px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    &.error {
        border: 1px solid $redChart;
    }
}

input[type="checkbox"],
input[type="radio"] {
    margin: 3px 5px;
    &:hover {
        cursor: pointer;
    }
}

label {
    padding-right: 5px;
    &:hover {
        cursor: pointer;
    }
}

.form-field {
    margin: 10px 0;
    position: relative;
}

.error-field {
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
    color: $redChart;
}

.search-member-list {
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
    .search-member-btn {
        width: 100%;
        padding: 5px;
        border: none;
        &:hover {
            border: none;
        }
        &.share {
            background-color: #ccc;
            &:hover {
                background-color: #bbb;
            }
        }
    }
}

.search-member-img {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.search-member-identity {
    text-align: left;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 0 5px;
    i {
        display: inline-block;
        width: 100%;
        font-style: italic;
        color: #555;
        font-size: 13px;
        line-height: 15px;
        white-space: nowrap;
    }
}

.form-label {
    font-size: 15px;
    font-weight: 500;
    color: #555;
}


/* input file */

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.input-file-label {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #555;
    color: #fff;
    z-index: 5;
    cursor: pointer;
    &:hover {
        background-color: #777;
    }
    &.error {
        background: $redChart;
    }
    &.valid {
        background: #2d9e49;
    }
}

.form-field-wrapper {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 20px 20px 0;
    &>div {
        padding: 0 10px;
        white-space: nowrap;
    }
}


/*** FORM INFO ***/

.form-info-container {
    padding: 0 20px;
    border-left: 1px solid #ccc;
    .form-info-title {
        padding: 0 0 5px 0;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
    }
    .form-info-content {
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
        font-size: 14px;
        line-height: 18px;
    }
    .form-info-list {
        margin: 0 0 10px 0;
        line-height: 18px;
        li {
            padding-bottom: 5px;
            strong {
                font-weight: 500;
            }
        }
    }
}