/*** TABLE ***/

.table {
    margin: 20px 0;
    border-collapse: separate;
    width: 100%;
    padding: 0;
    border-spacing: 0 10px;
    &.auto {
        width: auto
    }
    &.no-margin {
        margin: 0;
    }
    thead {
        th {
            text-align: left;
            vertical-align: middle;
            padding: 10px 15px;
            font-size: 14px;
            font-weight: 600;
            color: $secondary;
            /*.table-th-filter {
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                color: rgb(199, 169, 169);
                position: relative;
                &:hover {
                    color: $blueChart;
                }
                &.selected {
                    color: $blueChart;
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 0;
                        left: 105%;
                        @include maskImage('../img/filter-arrow.svg');
                        background-color: $blueChart;
                        @include transition(all 0.2s ease);
                    }
                    &.up {
                        &:after {
                            @include transform(rotate(180deg));
                        }
                    }
                }
            }*/
        }
    }
    tbody {
        tr {
            border: 1px solid $secondary;
            &.current-user {
                background-color: #d6f1ff;
            }
            td {
                max-width: 420px;
                padding: 10px 10px 10px 20px;
                font-size: 13px;
                color: #333;
                border-bottom: 2px solid rgba(39, 44, 51, 0.15);
                background-color: #fff;
                &:first-child {
                    @include borderRadiusMulti(5px, 0, 0, 5px);
                }
                &:nth-last-child(-n+2) {
                    @include borderRadiusMulti(0, 5px, 5px, 0);
                }
                &:last-child {
                    background-color: transparent !important;
                    border: none;
                }
                &.title {
                    font-weight: 500;
                    font-size: 15px;
                    color: $greenChart;
                    a {
                        display: inline-block;
                        font-weight: 600;
                        color: $greenChart;
                        text-decoration: none;
                        &:hover {
                            color: $secondary;
                            text-decoration: underline;
                        }
                    }
                }
                &.center {
                    text-align: center;
                }
                &.status {
                    .label {
                        font-weight: 600;
                        font-size: 14px;
                        position: relative;
                        padding-left: 20px;
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 12px;
                            width: 12px;
                            @include borderRadius(10px);
                        }
                    }
                    &.open {
                        .label {
                            color: $greenChart;
                            &:after {
                                background-color: $greenChart;
                            }
                        }
                    }
                    &.locked {
                        .label {
                            color: $redChart;
                            &:after {
                                background-color: $redChart;
                            }
                        }
                    }
                }
                .table-user-img {
                    height: 40px;
                    width: 40px;
                    position: relative;
                    margin-right: -15px;
                    .table-user-img__span {
                        width: 40px;
                        height: 40px;
                        border: 2px solid $blueLight;
                        position: relative;
                        @include borderRadius(25px);
                        @include boxShadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.3));
                        .table-user-img__img {
                            background-color: #fff;
                            width: 40px;
                            height: 40px;
                            display: inline-block;
                            @include borderRadius(25px);
                            position: relative;
                            top: 0;
                            left: 0;
                        }
                        &:hover {
                            &:after {
                                content: attr(data-name);
                                display: inline-block;
                                padding: 10px;
                                font-size: 14px;
                                @include borderRadius(3px);
                                position: absolute;
                                top: 45px;
                                left: 0;
                                background-color: $blueChart;
                                color: #fff;
                                z-index: 5;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
            &:hover {
                &.clickable {
                    @include boxShadow(0, 2px, 3px, 0, rgba(0, 0, 0, 0.2));
                    cursor: pointer;
                }
            }
        }
    }
}

.user-td {
    .user-img {
        display: inline-block;
        height: 30px;
        width: 30px;
        margin: 5px;
        @include borderRadius(15px);
        overflow: hidden;
    }
    .user-name {
        display: inline-block;
        font-size: 15px;
        line-height: 20px;
    }
    .user-email {
        display: inline-block;
        font-size: 14px;
        line-height: 18px;
        font-style: italic;
        color: #777;
    }
}

.user-role {
    display: inline-block;
    padding: 5px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    @include borderRadius(3px);
    &.owner {
        background-color: #ff8d00;
    }
    &.admin {
        background-color: #8e7aff;
    }
    &.maintainer {
        background-color: #4baecc;
    }
    &.member {
        background-color: #676767;
    }
}