/** =================== Luciole =================== **/

/** Luciole normal **/
@font-face {
  font-family: "Luciole";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("Luciole-Regular.woff2") format("woff2");
}

/** Luciole normal-Italic **/
@font-face {
  font-family: "Luciole";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("Luciole-Regular-Italic.woff2") format("woff2");
}

/** Luciole bold **/
@font-face {
  font-family: "Luciole";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("Luciole-Bold.woff2") format("woff2");
}

/** Luciole bold-Italic **/
@font-face {
  font-family: "Luciole";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("Luciole-Bold-Italic.woff2") format("woff2");
}
