.tabs.col {
  .tab {
    border-left: 3px solid var(--neutral-60);
    padding: 0.5rem 2rem;
    margin: 0px;
    font-weight: normal;

    &:hover {
      border-color: var(--primary-color);
      .icon {
        background-color: var(--primary-color);
      }
    }
  }

  .tab[selected],
  .tab.router-link-active {
    border-color: var(--primary-color);
    //color: var(--primary-color);
    background-color: var(--neutral-80);
    .icon {
      //background-color: var(--primary-color);
    }
  }
}

.horizontal-tabs {
  width: fit-content;
  margin: auto;
  margin: 2rem auto;
  background-color: var(--background-primary);
  //padding: 0.75rem;
  border-radius: 8px;
  box-shadow: var(--shadow-block);
  position: relative;

  * {
    z-index: 2;
  }

  .tab:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .tab:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .tab {
    padding: 1rem 1.5rem;
    justify-content: center;
    //margin: 1px;
    font-weight: normal;

    transition: color 0.15s ease-in, background-color 0.15s ease-in;

    .icon {
      transition: color 0.15s ease-in, background-color 0.15s ease-in;
    }

    .tab__label {
      position: relative;
      top: var(--text-vertical-center-offset);
      text-align: center;
    }

    .tab[aria-disabled] {
      color: var(--text-disabled);
      .icon {
        background-color: var(--text-disabled);
      }
    }
  }

  .tab[selected] {
    background-color: var(--primary-color);
    color: var(--primary-contrast);

    .icon {
      background-color: var(--primary-contrast);
    }
  }
}
