// Map des couleurs de base
$btn-colors: (
  primary: (
    bg: var(--primary-color),
    border: 1px solid var(--primary-color),
    text: var(--primary-contrast),
    hover-bg: var(--primary-soft),
    hover-text: var(--primary-color),
  ),
  secondary: (
    bg: var(--secondary-color),
    border: 1px solid var(--secondary-color),
    text: var(--primary-contrast),
    hover-bg: transparent,
    hover-text: var(--secondary-color),
  ),
  tertiary: (
    bg: var(--tertiary-color),
    border: 1px solid var(--tertiary-color),
    text: var(--primary-contrast),
    hover-bg: transparent,
    hover-text: var(--tertiary-color),
  ),
  neutral: (
    bg: var(--neutral-20),
    border: 1px solid var(--neutral-60),
    text: var(--text-primary),
    hover-bg: var(--neutral-40),
    hover-text: var(--text-primary),
  ),
);

// Map des variantes "outline"
$btn-outline-colors: (
  primary: (
    bg: var(--background-primary),
    border: 1px solid var(--primary-color),
    text: var(--primary-color),
    hover-bg: var(--primary-color),
    hover-text: var(--primary-contrast),
  ),
  secondary: (
    bg: var(--background-primary),
    border: 1px solid var(--secondary-color),
    text: var(--secondary-color),
    hover-bg: var(--secondary-color),
    hover-text: var(--primary-contrast),
  ),
  tertiary: (
    bg: var(--background-primary),
    border-colo: 1px solid var(--tertiary-color),
    text: var(--tertiary-color),
    hover-bg: var(--tertiary-color),
    hover-text: var(--primary-contrast),
  ),
  neutral: (
    bg: var(--background-primary),
    border: 1px solid var(--neutral-60),
    text: var(--text-primary),
    hover-bg: var(--neutral-20),
    hover-text: var(--text-primary),
  ),
);

@layer base {
  .btn--default {
    &.btn--primary {
      --btn-border-color: var(--primary-color);
      --btn-bg: var(--primary-color);
      --btn-text: var(--primary-contrast);
      --btn-hover-bg: var(--primary-soft);
      --btn-hover-text: var(--primary-color);
    }

    &.btn--secondary {
      --btn-border-color: var(--primary-color);
      --btn-bg: var(--background-primary);
      --btn-text: var(--primary-color);
      --btn-hover-bg: var(--primary-color);
      --btn-hover-text: var(--primary-contrast);
    }
  }

  .btn--destructive {
    &.btn--primary {
      --btn-border-color: var(--danger-color);
      --btn-bg: var(--danger-color);
      --btn-text: var(--danger-contrast);
      --btn-hover-bg: var(--danger-soft);
      --btn-hover-text: var(--danger-color);
    }

    &.btn--secondary {
      --btn-border-color: var(--danger-color);
      --btn-bg: var(--background-primary);
      --btn-text: var(--danger-color);
      --btn-hover-bg: var(--danger-color);
      --btn-hover-text: var(--danger-contrast);
    }
  }
}
