@layer base {
  #app-notif {
    background: var(--background-primary);
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: var(--text-primary);
    padding: 0.5rem 0.25rem;

    &.success {
      border-color: var(--success-color);
      color: var(--success-color);
    }
    &.warning {
      border-color: var(--warning-color);
      color: var(--warning-color);
    }
    &.error {
      border-color: var(--danger-color);
      color: var(--danger-color);
    }
  }
}
