#app-header {
  height: auto;
  /*justify-content: flex-end;*/
  align-items: center;
  background: transparent;
  padding: 0.5rem 1rem;
  position: relative;
  // z-index: 5;
  background-color: var(--background-header);
  border-bottom: var(--divider);
}

#main-title {
  flex-basis: content;
  color: var(--primary-color);
  font-size: 2rem;
  line-height: 1em;
}

#user-menu {
  width: auto;
  .select__head {
    border-radius: 20px;
  }

  // &.open {
  //   .select__head {
  //     border-radius: 15px 15px 0 0;
  //   }
  //   .select__list__inner,
  //   .select__list__section:last-child {
  //     border-radius: 0px 0px 15px 15px;
  //   }
  //   .select__list__section:last-child .select__list__item:last-child {
  //     border-radius: 0px 0px 15px 15px;
  //   }
  // }
}

.header-logo {
  align-items: center;
}

.header-logo:hover {
  cursor: pointer;
  text-decoration: none;
}

.user-menu-notification {
  display: inline-block;
  width: 15px;
  height: 15px;
  @include borderRadius(10px);
  background: var(--red-chart);
  position: absolute;
  top: -5px;
  left: 15px;
  z-index: 99;
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
}

#main-create-conv-button .label {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

#main-create-conv-button .icon {
  background-color: white;
}

#main-create-conv-button {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow-block);
}
