@layer base {
  #app-notif,
  .fixed-notif {
    background: var(--background-primary);
    width: 100%;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    color: var(--text-primary);
    padding: 0.5rem 0.25rem;
    &.success {
      border-color: var(--green-chart);
      color: var(--green-chart);
    }
    &.warning {
      border-color: var(--yellow-chart);
      color: var(--yellow-chart);
    }
    &.error {
      border-color: var(--red-chart);
      color: var(--red-chart);
    }
  }

  .fixed-notif {
    border: 1px solid;
    padding: 0.5rem 0.5rem;
  }
}
