@use "buttons/base" as button-base;
@use "buttons/size" as button-size;
@use "buttons/color" as button-color;
@use "buttons/variants" as button-variants;

// @forward 'buttons/colors';
// @forward 'buttons/shapes';
// @forward 'buttons/group';
// @forward 'buttons/utils';
@layer base {
  button,
  .btn {
    @include button-base.btn-base;

    &.btn:not(:has(> .label)) {
      padding: 0;
      width: var(--btn-icon-size, 24px);
      height: var(--btn-icon-size, 24px);

      svg {
        margin: 0;
      }
    }
  }

  .button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--btn-border-radius, 4px);
    overflow: hidden;

    & > * {
      border-radius: 0 !important;

      &:not(:last-child) {
        border-right: none !important;
      }

      &:first-child {
        border-top-left-radius: var(--btn-border-radius, 4px) !important;
        border-bottom-left-radius: var(--btn-border-radius, 4px) !important;
      }

      &:last-child {
        border-top-right-radius: var(--btn-border-radius, 4px) !important;
        border-bottom-right-radius: var(--btn-border-radius, 4px) !important;
      }

      &:hover:not([disabled]):not(.disabled) {
        transform: none;
      }
    }
  }
}
