.droparea {
  cursor: pointer;
  border: var(--border-button);
  border-style: dashed;
  text-align: center;
  & .droparea-description {
    padding: 0.5rem;
    background: var(--background-primary-with-small-opacity);
    width: fit-content;
    font-size: 1rem;
  }
  & label {
    color: var(--text-primary);
    font-size: inherit;
    text-decoration: underline;
  }
}

.droparea:hover label {
  color: var(--primary-color);
}
