@layer base {
  .header-bar {
    box-shadow: var(--shadow-block);
    border-bottom: var(--border-block);
    height: 3.5rem;
    padding: 0rem;
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
