@use "../mixin.scss";
@layer base {
  button .icon {
    background-color: transparent;
  }

  .icon {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background: var(--text-primary);
    // margin: 0 5px 0 0;
    vertical-align: top;
    flex-shrink: 0;
    &.diarization {
      @include mixin.maskImage("@/../public/img/speaker-diarization.svg");
    }
    &.add,
    &.new {
      @include mixin.maskImage("@/../public/img/plus-rounded.svg");
    }
    &.plus {
      @include mixin.maskImage("@/../public/img/plus.svg");
    }
    &.settings {
      @include mixin.maskImage("@/../public/img/gear.svg");
    }
    &.conv-list {
      @include mixin.maskImage("@/../public/img/conv-list.svg");
    }
    &.transcription {
      @include mixin.maskImage("@/../public/img/transcription.svg");
    }
    &.delete,
    &.remove {
      @include mixin.maskImage("@/../public/img/close-circle.svg");
    }
    &.trash {
      @include mixin.maskImage("@/../public/img/trash-simple.svg");
    }
    &.apply,
    &.valid {
      @include mixin.maskImage("@/../public/img/apply.svg");
    }
    &.edit {
      @include mixin.maskImage("@/../public/img/edit.svg");
    }
    &.copy {
      @include mixin.maskImage("@/../public/img/copy.svg");
    }
    &.help {
      @include mixin.maskImage("@/../public/img/help.svg");
      margin-left: 0;
    }
    &.json {
      @include mixin.maskImage("@/../public/img/json.svg");
    }
    &.speaker {
      @include mixin.maskImage("@/../public/img/speaker.svg");
    }
    &.text {
      @include mixin.maskImage("@/../public/img/text.svg");
    }
    &.back {
      @include mixin.maskImage("@/../public/img/arrow-back.svg");
    }
    &.bottom-arrow {
      @include mixin.maskImage("@/../public/img/line-arrow.svg");
      @include mixin.transform(rotate(0deg));
    }
    &.top-arrow {
      @include mixin.maskImage("@/../public/img/line-arrow.svg");
      @include mixin.transform(rotate(180deg));
    }
    &.right-arrow {
      @include mixin.maskImage("@/../public/img/line-arrow.svg");
      @include mixin.transform(rotate(-90deg));
    }
    &.left-arrow {
      @include mixin.maskImage("@/../public/img/line-arrow.svg");
      @include mixin.transform(rotate(90deg));
    }
    &.close {
      @include mixin.maskImage("@/../public/img/close.svg");
      margin: 0;
    }
    &.zoom {
      @include mixin.maskImage("@/../public/img/zoom.svg");
      margin: 0;
    }
    &.unzoom {
      @include mixin.maskImage("@/../public/img/unzoom.svg");
      margin: 0;
    }
    &.generate {
      @include mixin.maskImage("@/../public/img/state-loading.svg");
    }
    &.generating {
      @include mixin.maskImage("@/../public/img/state-loading.svg");
      @include mixin.rotate();
    }
    &.loading {
      @include mixin.maskImage("@/../public/img/loading.svg");
      @include mixin.rotate();
      margin: 0;
    }
    &.loading {
      @include mixin.maskImage("@/../public/img/loading.svg");
      @include mixin.rotate();
      margin: 0;
    }
    &.record {
      @include mixin.maskImage("@/../public/img/microphone.svg");
    }
    &.record-live {
      @include mixin.maskImage("@/../public/img/microphone-live.svg");
    }
    &.record-off {
      @include mixin.maskImage("@/../public/img/microphone-off.svg");
    }
    &.upload {
      @include mixin.maskImage("@/../public/img/upload.svg");
    }
    &.download {
      @include mixin.maskImage("@/../public/img/download.svg");
    }
    &.play {
      @include mixin.maskImage("@/../public/img/play.svg");
    }
    &.pause {
      @include mixin.maskImage("@/../public/img/pause.svg");
    }
    &.stop {
      @include mixin.maskImage("@/../public/img/stop.svg");
    }
    &.email-verified {
      margin: -3px 5px 0 5px;
      @include mixin.maskImage("@/../public/img/state-done.svg");
      background-color: var(--green-chart);
    }
    &.send-mail {
      @include mixin.maskImage("@/../public/img/send-mail.svg");
    }
    &.small-arrow-down {
      @include mixin.maskImage("@/../public/img/triangle.svg");
    }
    &.discover {
      @include mixin.maskImage("@/../public/img/discover.svg");
    }
    &.box {
      @include mixin.maskImage("@/../public/img/box.svg");
    }
    &.star {
      @include mixin.maskImage("@/../public/img/star.svg");
    }
    &.star-filled {
      @include mixin.maskImage("@/../public/img/star-filled.svg");
    }
    &.flag {
      @include mixin.maskImage("@/../public/img/flag.svg");
    }
    &.work {
      @include mixin.maskImage("@/../public/img/briefcase.svg");
    }
    &.account {
      @include mixin.maskImage("@/../public/img/edit.svg");
    }
    &.logout {
      @include mixin.maskImage("@/../public/img/logout.svg");
    }
    &.home {
      @include mixin.maskImage("@/../public/img/home.svg");
    }
    &.options {
      @include mixin.maskImage("@/../public/img/options.svg");
    }
    &.share {
      @include mixin.maskImage("@/../public/img/share.svg");
    }
    &.clock {
      @include mixin.maskImage("@/../public/img/clock.svg");
    }
    &.document {
      @include mixin.maskImage("@/../public/img/document.svg");
    }
    &.tag {
      @include mixin.maskImage("@/../public/img/badge.svg");
    }
    &.error-death {
      @include mixin.maskImage("@/../public/img/death.svg");
    }
    &.pen {
      @include mixin.maskImage("@/../public/img/pen-fill.svg");
    }
    &.warning {
      @include mixin.maskImage("@/../public/img/warning.svg");
    }
    &.moon {
      @include mixin.maskImage("@/../public/img/moon.svg");
    }
    &.sun {
      @include mixin.maskImage("@/../public/img/sun.svg");
    }
    &.ai {
      @include mixin.maskImage("@/../public/img/AI.svg");
    }
    &.hide {
      @include mixin.maskImage("@/../public/img/eye-off.svg");
    }
    &.show {
      @include mixin.maskImage("@/../public/img/eye.svg");
    }
    &.merge {
      @include mixin.maskImage("@/../public/img/link.svg");
    }
    &.link {
      @include mixin.maskImage("@/../public/img/link.svg");
    }
    &.clear-history {
      @include mixin.maskImage("@/../public/img/clear-history.svg");
    }
    &.reload {
      @include mixin.maskImage("@/../public/img/reload.svg");
    }
    &.done {
      @include mixin.maskImage("@/../public/img/state-done.svg");
    }
    &.next {
      @include mixin.maskImage("@/../public/img/next.svg");
    }

    &.previous {
      @include mixin.maskImage("@/../public/img/previous.svg");
    }
    &.equal {
      @include mixin.maskImage("@/../public/img/equal.svg");
    }
    &.replace {
      @include mixin.maskImage("@/../public/img/replace.svg");
    }
    &.merge2 {
      @include mixin.maskImage("@/../public/img/merge.svg");
    }
    &.file-audio {
      @include mixin.maskImage("@/../public/img/file-audio.svg");
    }
    &.profile {
      @include mixin.maskImage("@/../public/img/profile.svg");
    }
    &.session {
      @include mixin.maskImage("@/../public/img/session-2.svg");
    }
    &.save-cloud {
      @include mixin.maskImage("@/../public/img/save-cloud.svg");
    }
    &.live {
      @include mixin.maskImage("@/../public/img/live.svg");
    }
    &.save {
      @include mixin.maskImage("@/../public/img/breeze/document-save.svg");
    }
    &.subtitle {
      @include mixin.maskImage("@/../public/img/subtitle.svg");
    }
    &.linagora-small {
      @include mixin.maskImage("@/../public/img/logo_linagora.webp");
    }
    &.information {
      @include mixin.maskImage("@/../public/img/information.svg");
    }
    &.visio {
      @include mixin.maskImage("@/../public/img/visio.svg");
    }
    &.burger {
      @include mixin.maskImage("@/../public/img/burger.svg");
    }
    &.lock-off {
      @include mixin.maskImage("@/../public/img/lock-off.svg");
    }
    &.category {
      @include mixin.maskImage("@/../public/img/category.svg");
    }
    &.filter {
      @include mixin.maskImage("@/../public/img/sorting.svg");
    }
    &.pin {
      @include mixin.maskImage("@/../public/img/pin.svg");
    }
    &.pin-on {
      @include mixin.maskImage("@/../public/img/pin-angle-fill.svg");
    }
  }

  .icon.small {
    width: 1rem;
    height: 1rem;
  }

  .icon.medium {
    width: 1.5rem;
    height: 1.5rem;
  }

  .icon.large {
    width: 2rem;
    height: 2rem;
  }

  .txt-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 3px -10px 3px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;

    &.key-merge {
      background-image: url("@/../public/img/merge-turn.svg");
    }

    &.key-enter {
      background-image: url("@/../public/img/key-enter.svg");
    }
    &.key-backspace {
      background-image: url("@/../public/img/key-backspace.svg");
    }
    &.key-alt {
      background-image: url("@/../public/img/key-alt.svg");
    }
    &.key-ctrl {
      background-image: url("@/../public/img/key-ctrl.svg");
    }
    &.key-shift {
      background-image: url("@/../public/img/key-shift.svg");
    }
    &.key-right-arrow {
      background-image: url("@/../public/img/key-right-arrow.svg");
    }
    &.key-left-arrow {
      background-image: url("@/../public/img/key-left-arrow.svg");
    }
    &.key-space {
      background-image: url("@/../public/img/key-space.svg");
    }
  }

  img.icon {
    object-fit: contain;
    background: transparent;
  }

  img.icon[black] {
    filter: grayscale(100%);
  }

  .icon.secondary {
    background-color: var(--text-secondary);
  }
}
