.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 55;
  align-items: center;
  justify-content: center;
}

.modal {
  width: calc(100% - 4rem);
  max-width: 960px;
  background: var(--background-primary);
  padding: 1rem;
  max-height: calc(100% - 4rem);
  @include boxShadow(0, 2px, 4px, 0, rgba(0, 0, 0, 0.3));
  @include borderRadius(3px);

  &.modal--small {
    width: 500px;
  }

  &.modal--large {
    max-width: 1300px;
  }

  &.modal--full-height {
    height: 100%;
  }

  &.modal--highlights {
    width: fit-content;
  }
}

.modal-header {
  .title {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    color: var(--text-primary);
    overflow: hidden;
    //white-space: nowrap;
    text-overflow: ellipsis;
  }

  .icon.close {
    width: 2rem;
    height: 2rem;
  }
}

.modal-body {
  padding: 0.5rem 0;
  //padding: 40px 0;
  p {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    strong {
      font-size: 16px;
      font-weight: 600;
      color: var(--red-chart);
      line-height: 22px;
    }
  }
  input,
  select {
    //width: 220px;
  }
}

.modal-footer {
  padding-top: 20px;
  justify-content: flex-end;
  .modal--footer-btn-splitted {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
