.organization-badge {
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
  padding: 0.5em;
  border: var(--border-button);
  border-radius: 2px;
  font-variant: small-caps;
  font-size: 1.2em;
}
