.organization-selector {
  button.select__head {
    text-decoration: none;
    display: flex;
  }

  border-bottom: var(--border-block);
}

.organization-selector__organization {
  color: var(--text-secondary);
  font-size: 0.85em;
}
