.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  //background-color: #fff;
  //border-top: var(--divider);
  align-items: center;
  /*
  border-left: 1px solid var(--text-primary);
  border-right: 1px solid var(--text-primary);
  */
}

.pagination__next,
.pagination__prev {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 5px;
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: var(--text-primary);
  }
  &:hover {
    &::after {
      background-color: var(--primary-color);
    }
  }
}

.pagination__next {
  @include maskImage("../public/img/next.svg");
}

.pagination__prev {
  @include maskImage("../public/img/previous.svg");
}

.pagination-btn {
  display: inline-block;
  margin: 5px;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: var(--text-primary);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  //line-height: 0;
  &:hover {
    color: var(--primary-color);
    //font-weight: 600;
  }
  &[selected] {
    background-color: var(--primary-color);
    color: #fff;
  }
}

.pagination-gap {
  align-self: center;
}

.bottom-list-sticky {
  position: sticky;
  bottom: 1rem;
  margin-top: 2rem;
  z-index: 5;
  height: 3rem;
}

.pagination--sticky {
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  background-color: var(--background-primary);
  box-shadow: var(--shadow-block);
  border-radius: 2rem;
  border: var(--divider);
  bottom: 0px;
}
