@layer base {
  progress::-moz-progress-bar {
    background: var(--primary-color);
  }
  progress::-webkit-progress-value {
    background: var(--primary-color);
  }
  progress {
    color: var(--primary-color);
  }

  .circle-progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(var(--primary-color) calc(var(--progress, 0) * 1%), var(--small-contrast) 0);
  }
}
