.channel-turn {
  display: flex;
  margin: auto;
  width: fit-content;
}

.channel-turn__text {
  width: 800px;
  text-align: justify;
  font-family: luciole;
  line-height: 1.3em;
}

.session-content__turns {
  gap: 0.75em;
}

// not supported in firefox ESR (2024 / v121), so we need js code
.session-content__turns:has(> .session-content__subtitle) {
  margin-bottom: 8em;
}

// TODO: remove this when firefox ESR will support :has
.session-content__turns.has_subtitles {
  margin-bottom: 8em;
}

.session-content__title {
  font-size: 2em;
}

.session-content__subtitle {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;

  box-sizing: border-box;
  padding: 3em;
}

#scroller {
  height: 2.4em;
  line-height: 1.2em;
  overflow: hidden;
}
