.switch {
  display: inline-block;
  vertical-align: middle;

  input {
    display: none;
  }

  label {
    height: 20px;
    width: 40px;
    display: block;
    border: var(--border-input);
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--small-contrast);
  }

  .switch__slider {
    height: 22px;
    width: 22px;
    border: var(--border-input);
    border-radius: 22px;
    position: relative;
    top: -2px;
    left: -2px;
    background-color: var(--background-primary);
  }

  input:checked + label {
    background-color: var(--primary-color);
  }

  input:checked + label .switch__slider {
    left: 20px;
  }
}
