table {
  width: auto;
  border-collapse: collapse;
  &.fullwidth {
    width: 100%;
  }
  thead {
    tr {
      border-bottom: 1px solid #757575;
      th {
        padding: 5px 0;
        font-size: 14px;
        text-transform: uppercase;
        color: #757575;
        font-weight: 600;
        &.center {
          text-align: center;
        }
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background: #f2f2f2;
      }
      td {
        padding: 5px;

        .table-link {
          font-weight: 600;
          color: var(--text-primary);
        }
        &.center {
          text-align: center;
        }
        .state-icon {
          display: inline-block;
          width: 20px;
          height: 20px;
          &.done {
            @include maskImage("../public/img/state-done.svg");
            background-color: var(--green-chart);
          }
          &.error {
            @include maskImage("../public/img/state-error.svg");
            background-color: var(--red-chart);
          }
          &.started,
          &.pending {
            @include maskImage("../public/img/state-loading.svg");
            background-color: var(--yellow-chart);
          }
        }
        &.description {
          max-width: 200px;
        }
      }
      &:first-child {
        td {
          padding-top: 10px;
        }
      }
      &.currentuser {
        background-color: #ddd;
      }
    }
  }
}

.table-header-checkbox {
  padding-left: 5px;
}

.table-header-button {
  background-color: transparent;
  background-image: none;
  border: none;
  padding: 5px 0;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--text-secondary);
  font-weight: 600;
  position: relative;
  overflow: visible;

  &.active {
    color: var(--text-primary);
    &:after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: var(--text-primary);
      top: 4px;
      left: 100%;
      margin-left: 0;
      position: absolute;
      @include maskImage("../public/img/line-arrow.svg");
      @include transition(all 0.3s ease);
    }
    &.asc {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  &:hover {
    background-color: transparent;
    color: var(--text-primary);
  }
}

td.content-size {
  width: 1%;
  white-space: nowrap;
}
