.tabs.col {
  .tab {
    cursor: pointer;
    display: flex;
  }
}

.horizontal-tabs {
  * {
    z-index: 2;
  }

  .tab {
    cursor: pointer;
    display: flex;
    align-items: center;
    min-width: 7rem;

    .tab__label::first-letter {
      text-transform: uppercase;
    }

    .tab[aria-disabled] {
      cursor: not-allowed;
    }
  }
}


.tabs[squareTabs] {
  box-shadow: none;
  gap:1rem;

  .tab {
    flex-direction: column;
    border-radius: 8px;
    box-shadow: var(--shadow-block);
    border: var(--border-block);
    margin:1px;

    .icon {
      height: 2.5rem;
      width: 2.5rem;
      
    }
  }

  .tab[selected] {
    .icon {
      background-color: var(--text-primary) !important;
    }
    background-color: var(--background-primary);
    border:2px solid var(--primary-color);
    margin: 0;
    color: var(--text-primary);
  }
}
