@layer base {
  .horizontal-tabs {
    width: fit-content;
    margin: auto;
    margin: 2rem auto;
    background-color: var(--background-primary);
    //padding: 0.75rem;
    border-radius: 8px;
    box-shadow: var(--shadow-block);
    position: relative;
    border: 1px solid var(--neutral-20);

    * {
      z-index: 2;
    }

    .tab:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .tab:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .tab {
      cursor: pointer;
      display: flex;
      align-items: center;
      min-width: 7rem;
      gap: 0.5rem;
      padding: 1rem 1.5rem;
      justify-content: center;
      //margin: 1px;
      font-weight: normal;

      transition:
        color 0.15s ease-in,
        background-color 0.15s ease-in;

      .tab__label {
        line-height: 1.25rem;
        text-align: center;
      }

      .tab__label::first-letter {
        text-transform: uppercase;
      }

      .tab[aria-disabled] {
        cursor: not-allowed;
        color: var(--text-disabled);
        .icon {
          background-color: var(--text-disabled);
        }
      }
    }

    .tab[selected] {
      background-color: var(--primary-color);
      color: var(--primary-contrast);

      .icon {
        background-color: var(--primary-contrast);
      }
    }
  }

  .horizontal-tabs-secondary {
    border-bottom: var(--border-block);
    margin-bottom: 0.5rem;

    .tab {
      cursor: pointer;
      padding: 0.5rem;
      //padding-bottom: 1rem;
      border-bottom: 1px solid transparent;
      font-weight: 600;
      color: var(--text-secondary);
    }

    .tab[selected] {
      color: var(--text-primary);
      border-color: var(--neutral-100);
    }
  }

  .tab-container-content {
    border: var(--border-block);
    border-top: 0px solid;
    padding: 1rem;
    background-color: var(--background-inset-section);
  }

  .tabs[squareTabs] {
    box-shadow: none;
    border: none;
    gap: 1rem;

    .tab {
      flex-direction: column;
      border-radius: 8px;
      box-shadow: var(--shadow-block);
      border: var(--border-block);
      margin: 1px;

      width: 7rem;
      height: 6rem;
      padding-bottom: 0;

      .icon {
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    .tab[selected] {
      .icon {
        background-color: var(--primary-color) !important;
      }
      background-color: var(--background-primary);
      border: 2px solid var(--primary-color);
      margin: 0;
      color: var(--text-primary);
    }

    .tab[aria-disabled] {
      cursor: not-allowed;
      filter: opacity(60%);
    }
  }
}
