.list-profil-picture-container {
  position: relative;
  padding: 0;
  margin: 0;
  top: 0;
  display: flex;
  z-index: 2;
  &:first-child {
    left: 0;
  }
}

.list-profil-picture {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  @include borderRadius(2rem);
  border: 1px solid #fff;
  position: relative;
}

.user-info-inline__avatar {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

.user-info-inline__name {
  font-weight: 500;
}

.user-info-inline__external {
  font-weight: 400;
  background-color: beige;
  padding: 0.25em;
  font-size: 12px;
  border-radius: 4px;
  display: inline-block;
}

.user-info-inline__email {
  font-weight: 400;
  width: 100%;
}

.user-list__title {
  font-weight: 600;
}
