body {
    font-family: $montserrat;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4 {
    display: inline-block;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 40px 0;
    color: $secondaryDark;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    padding: 0 0 5px 0;
    color: $secondary;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 0 0 5px 0;
    color: $secondary;
}

.flex {
    display: flex;
    &.col {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    &.flex-end {
        align-items: flex-end;
    }
    &.align-center {
        align-items: center;
    }
    &.justify-center {
        justify-content: center;
    }
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.hidden {
    display: none !important;
}

a,
button {
    display: inline-block;
    @include cancelBoxShadow();
    border: none;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    text-decoration: none;
    color: #333;
    &:hover {
        cursor: pointer;
        background-color: #ddd;
    }
}

table {
    th,
    td {
        text-align: left;
    }
}