@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap');
$montserrat: 'Montserrat',
'Arial',
'Helvetica',
'verdana';
$greenChart: #16afa2;
$greenMedium: rgba(66,
212,
186,
0.7);
$greenLight: rgba(66,
212,
186,
0.1);
$blueChart: #17348c;
$blueLight: #88aaff;
$blueXLight: rgb(227,
244,
255);
$greyLight: #8e8e8e;
$redChart: #fe346e;
$redLight: rgba(254,
52,
110,
0.7);
$comfortaa: 'Comfortaa',
Arial,
Helvetica,
sans-serif;
$colorDark: #5d737e;
$colorMedium: #64b6ac;
$colorLight: #f3fffa;
$secondaryDark: rgb(39,
44,
51);
$secondary: rgb(63,
70,
82);
$secondaryLight: #e6edf1;
$primary: #7FFFD4;
$turquoise: #4baecc;