$greenChart: #42d4ba;
$greenMedium: rgba(66, 212, 186, 0.7);
$greenLight: rgba(66, 212, 186, 0.1);
$blueChart: #17348c;
$blueLight: #88aaff;
$blueXLight: rgb(227, 244, 255);
$greyLight: #8e8e8e;
$redChart: #fe346e;
$redLight: rgba(254, 52, 110, 0.7);
$comfortaa: 'Comfortaa',
Arial,
Helvetica,
sans-serif;