.login-form-wrapper {
  overflow: auto;
  padding: 40px;
}

.login-form-container {
  align-items: center;

  .login-logo {
    display: inline-block;
    height: auto;
    width: 150px;
    margin: 0 0 20px 0;
  }
}

.toggle-login-link {
  text-decoration: underline;
  margin-bottom: 5px;
}

#app-login {
  width: 100%;
  max-width: 300px;
  padding: 30px 40px;
  background-color: var(--primary-contrast);
  margin: 20px 0;
  @include borderRadius(3px);
  border: var(--border-block);
}

#app-login h2 {
  margin-bottom: 10px;
}

#app-login p {
  margin: 0;
  margin-bottom: 15px;
}

#app-login button {
  width: 100%;
  margin: 20px 0 0 0;
}

.login-centered {
  align-items: center;
  justify-content: center;
}

.single-message-error {
  background-color: var(--background-primary);
  font-weight: 500;
  padding: 30px;
  font-size: 16px;
  @include boxShadow(0, 2px, 2px, 0, rgba(0, 0, 0, 0.3));
  a {
    display: inline-block;
    color: var(--green-chart);
    padding: 0 5px;
  }
}
