body {
  font-family: $montserrat;
  //font-family: "Architects Daughter", cursive;
  font-size: 15px;
  color: var(--text-primary);
  accent-color: var(--primary-color);
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  display: inline-block;
  width: 100%;
  margin: 0;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  //padding: 0 0 20px 0;
  color: var(--text-primary);
}

h2 {
  font-size: 18px;
  font-weight: 600;
  padding: 8px 0 8px 0;
  color: var(--text-primary);
}

h3,
.h3 {
  font-size: 18px;
  font-weight: normal;
  padding: 0 0 5px 0;
  color: var(--text-primary);
  text-transform: capitalize;
}

.flex {
  display: flex;
  &.col {
    flex-direction: column;

    & > .fullwidth {
      align-self: stretch;
    }
  }
  &.row {
    flex-direction: row;
  }
  &.align-top {
    align-items: flex-start;
  }

  &.align-bottom {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.wrap-start {
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &.gap-tiny {
    gap: var(--tiny-gap);
  }

  &.gap-small {
    gap: var(--small-gap);
  }

  &.gap-medium {
    gap: var(--medium-gap);
  }
}

.flex1 {
  flex: 1;
  min-height: 0; // it force the flex to not grow bigger than the parent
  min-width: 0; // same as above
  //overflow: auto;
}

.flex2 {
  flex: 2;
  overflow: auto;
}

.flex3 {
  flex: 3;
  overflow: auto;
}

.flex4 {
  flex: 4;
  overflow: auto;
}

.no-shrink {
  flex-shrink: 0;
}

.hidden {
  display: none !important;
}

.relative {
  position: relative;
}

table {
  th,
  td {
    text-align: left;
  }
}

section {
  padding: 10px 0;
}

ul {
  margin: 0;
}

li {
  margin-bottom: 5px;
}

li:last-child {
  margin-bottom: 0;
}

.small-text {
  font-size: 12px;
}

.small-margin {
  margin: var(--small-gap);
}

.medium-margin {
  margin: var(--medium-gap);
}

.small-padding {
  padding: var(--small-gap);
}

.small-padding-top {
  padding-top: var(--small-gap);
}

.small-padding-bottom {
  padding-bottom: var(--small-gap);
}

.small-padding-right {
  padding-right: var(--small-gap);
}

.small-padding-left {
  padding-left: var(--small-gap);
}

.medium-padding {
  padding: var(--medium-gap);
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.center-text {
  text-align: center;
}

.fullwidth {
  width: 100%;
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.dropDown {
  position: absolute;
  background-color: var(--background-primary);
  z-index: 10;
  border: var(--border-block);
  overflow: auto;
  @include blockShadow;

  .dropDown-section {
    padding: var(--small-gap);
    border-bottom: var(--divider);
    //white-space: nowrap;
    &:last-child {
      border-bottom: none;
    }
  }

  &.dropDown--fixed {
    position: fixed;
  }
}

.text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.badge {
  width: 1.5em;
  height: 1.5em;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 1em;
}

.badge__content {
  vertical-align: middle;
}

.reset-overflows {
  overflow: visible;
  white-space: normal;
  min-height: auto;
}
