@mixin noTextSelection() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin maskImage($path) {
  mask-image: url($path);
  -webkit-mask-image: url($path);
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

@mixin animateClick() {
  position: absolute;
  z-index: 2;
  animation-name: clickAnim;
  -webkit-animation-name: clickAnim;
  /* Safari 4.0 - 8.0 */
  animation-duration: 1.3s;
  -webkit-animation-duration: 1.3s;
}

@-webkit-keyframes clickAnim {
  from {
    display: inline-block;
    width: 20px;
    top: -20px;
    left: -30px;
    height: 100px;
    width: 10px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background-color: rgba(255, 255, 255, 0.3);
  }
  to {
    left: 150%;
    width: 100px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@keyframes clickAnim {
  from {
    display: inline-block;
    width: 20px;
    top: -20px;
    left: 0px;
    height: 100px;
    width: 10px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background-color: rgba(255, 255, 255, 0.3);
  }
  to {
    left: 150%;
    width: 100px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background-color: rgba(255, 255, 255, 0.2);
  }
}

@mixin boxShadow($offsetX, $offsetY, $blurRadius, $spreadRadius, $color) {
  -moz-box-shadow: $offsetX $offsetY $blurRadius $spreadRadius $color;
  -webkit-box-shadow: $offsetX $offsetY $blurRadius $spreadRadius $color;
  box-shadow: $offsetX $offsetY $blurRadius $spreadRadius $color;
}

@mixin cancelBoxShadow() {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin buttonShadow() {
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
}

@mixin buttonShadowHover() {
  -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

@mixin blockShadow() {
  -moz-box-shadow: 0 2px 4px 0 rgba(67, 76, 95, 0.3);
  -webkit-box-shadow: 0 2px 4px 0 rgba(67, 76, 95, 0.3);
  box-shadow: 0 2px 4px 0 rgba(67, 76, 95, 0.3);
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin noTransition() {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

@mixin opacity($value) {
  -moz-opacity: $value;
  /* Netscape */
  -khtml-opacity: $value;
  /* Safari 1.x */
  opacity: $value;
  /* Good browsers */
}

@mixin borderRadius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin borderRadiusMulti($topleft, $topright, $botright, $botleft) {
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topleft: $topleft;
  border-top-left-radius: $topleft;
  -webkit-border-top-right-radius: $topright;
  -moz-border-radius-topright: $topright;
  border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $botright;
  -moz-border-radius-bottomright: $botright;
  border-bottom-right-radius: $botright;
  -webkit-border-bottom-left-radius: $botleft;
  -moz-border-radius-bottomleft: $botleft;
  border-bottom-left-radius: $botleft;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
  }
}

@mixin rotate() {
  animation-name: rotating;
  -webkit-animation-name: rotating;
  /* Safari 4.0 - 8.0 */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Safari 4.0 - 8.0 */
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

/* Safari and Chrome */

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-webkit-keyframes underlining {
  0% {
    width: 0;
    left: 0;
  }
  100% {
    width: 98%;
  }
}

@keyframes underlining {
  0% {
    width: 0;
    left: 0;
  }
  100% {
    width: 98%;
  }
}

@mixin underlineAnim {
  -webkit-animation: underlining 0.5s ease forwards;
  -moz-animation: underlining 0.5s ease forwards;
  -ms-animation: underlining 0.5s ease forwards;
  -o-animation: underlining 0.5s ease forwards;
  animation: underlining 0.5s ease forwards;
}
