.breadcrumb {
  //padding-bottom: 1rem;
  font-size: 18px;
  width: 100%;
  margin-right: 1rem;
}

.breadcrumb > * {
  vertical-align: middle;
}

.breadcrumb .icon {
  height: 1.25em;
  width: 1.25em;
}

.breadcrumb__separator {
  margin: 0 !important;
}

a.breadcrumb__element {
  text-decoration: underline;
  font-weight: normal;
}

.select.organization-selector {
  //width: auto;
  //margin: 0 1rem;
  max-width: 25rem;
  flex: 1;
  flex-basis: content;
}
