button,
a,
.btn {
  cursor: pointer;
  display: inline-flex;
  margin: 0;
  color: var(--text-primary);
  font-family: inherit;
  position: relative;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  border: none;
  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
    &:hover {
      cursor: not-allowed;
    }
  }
}

.btn.wrap > .label {
  white-space: normal;
}

a {
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
  border: none;
  background-color: transparent;
}

a.underline {
  text-decoration: underline;
}

button,
.btn {
  padding: 5px 10px;
  @include borderRadius(3px);
  font-size: 15px;
  font-weight: 500;
  border: var(--border-button-flat);
  background-color: var(--background-secondary);
  //display: flex;
  align-items: center;
  &.inline {
    display: inline-flex;
    padding: 0;
    flex-shrink: 0;
  }

  &:hover {
    background-color: var(--button-background-hover);
    text-decoration: none;
  }
  & > * {
    vertical-align: top;
  }
  & > .label {
    //@include transition(all 0.2s ease);
    font-size: 14px;
    position: relative;
    top: var(--text-vertical-center-offset);
    flex: 1;
    //line-height: 20px;
  }
  .icon {
    @include transition(all 0.2s ease);
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    //margin: 0 5px;
  }

  .small-arrow-down {
    position: relative;
    top: var(--text-vertical-center-offset);
  }

  .icon:last-child {
    margin: 0;
  }
  &.transparent {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }

    &[disabled] {
      background-color: transparent;
      text-decoration: underline;
      border: none;
      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }

  &.only-border {
    background-color: transparent;
    border: var(--border-button);
    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }

  &.green {
    background-color: var(--green-chart);
    border: 1px solid var(--green-chart);
    .label {
      color: #fff;
    }
    .icon {
      background-color: #fff;
    }
    &:hover {
      background-color: var(--background-primary);
      .label {
        color: var(--green-chart);
      }
      .icon {
        background-color: var(--green-chart);
      }
    }
  }
  &.green-border {
    border: 1px solid var(--green-chart);
    background-color: var(--background-primary);
    .label {
      color: var(--green-chart);
    }
    .icon {
      background-color: var(--green-chart);
    }
    &:hover {
      background-color: var(--green-chart);
      .icon {
        background-color: var(--background-primary);
      }
      .label {
        color: var(--background-primary);
      }
    }
  }
  &.red {
    background-color: var(--red-chart);
    border: 1px solid var(--red-chart);
    .label {
      color: var(--background-primary);
    }
    .icon {
      background-color: var(--background-primary);
    }
    &:hover {
      background-color: #f6f6f6;
      .label {
        color: var(--red-chart);
      }
      .icon {
        background-color: var(--red-chart);
      }
    }
  }
  &.red-border {
    border: 1px solid var(--red-chart);
    background-color: var(--background-primary);
    .label {
      color: var(--red-chart);
    }
    .icon {
      background-color: var(--red-chart);
    }
    &:hover {
      background-color: var(--red-chart);
      .icon {
        background-color: var(--background-primary);
      }
      .label {
        color: var(--background-primary);
      }
    }
  }
  &.yellow {
    margin-right: 10px;
    background-color: var(--yellow-chart);
    border-color: var(--yellow-chart);
    .icon {
      //background-color: var(--yellow-chart);
      &.loading {
        margin: 0 5px;
      }
    }
    &:hover {
      background-color: var(--yellow-chart);
      color: var(--text-primary);
      .icon {
        background-color: var(--text-primary);
      }
    }
  }

  &.black {
    background-color: var(--text-primary);
    color: var(--background-primary);
    .icon {
      background-color: var(--background-primary);
    }
  }

  &[disabled] {
    background-color: var(--background-disabled);
    border: var(--border-button-flat);
    color: var(--text-secondary);
    .icon {
      background-color: var(--text-secondary);
    }

    .label {
      color: var(--text-secondary);
    }

    &:hover {
      background-color: var(--background-disabled);
      text-decoration: none;
      .icon {
        background-color: var(--text-secondary);
      }
      .label {
        color: var(--text-secondary);
      }
    }
  }

  &.btn--input-color {
    border: var(--border-input);
    background-color: var(--input-background);
  }
}
