input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
textarea,
.collab-input {
  border: var(--border-input);
  display: inline-block;
  @include cancelBoxShadow();
  padding: 0.3rem 0.6rem;
  margin: 0px;
  max-width: 20rem;
  min-width: 10rem;
  line-height: 20px;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
  @include borderRadius(3px);
  @include transition(all 0.2s ease);
  background-color: var(--input-background);
  color: var(--text-primary);
  height: 2rem;
  &.error {
    border: 1px solid var(--red-chart);
  }
  &:focus,
  &:active {
    outline: 1px solid var(--text-secondary);
    background-color: var(--input-focus);
  }
  &[disabled] {
    color: var(--text-disabled);
    outline-color: var(--text-disabled);
  }
  &.fullwidth {
    width: 100%;
    max-width: none;
  }
}

textarea {
  height: 6rem;
}
input.speaker-toolbox-input {
  min-width: 80px;
}
.collab-input {
  position: relative;
  white-space: normal;
  word-break: break-word;
  height: auto;
  min-width: initial;

  &.textarea {
    min-height: 100px;
  }

  &.users-connected {
    &:after {
      content: attr(data-users-connected);
      position: absolute;
      top: 0;
      left: 100%;
      height: 20px;
      width: 200px;
      background: #ccc;
    }
  }
  &.focused {
    //border-color: var(--green-chart);
    background-color: var(--background-primary);
    //border: none;
    box-shadow: none;
  }
  &.turn {
    &,
    &:focus,
    &:active {
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
    }
  }

  &.fullwidth {
    max-width: initial;
  }
}
input[type="checkbox"],
input[type="radio"] {
  margin: 0.15rem 0.3rem;
  outline: none !important;
  &:hover {
    cursor: pointer;
  }
}

label,
.form-label {
  color: var(--text-secondary);
  &:hover {
    cursor: pointer;
  }

  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-field-checkbox .form-label {
  display: inline-block;
  margin-bottom: 0;
}

.form-value {
  height: 32px;
}

.form-field {
  margin-bottom: 10px;
  position: relative;
  &.fullwidth {
    width: 100%;
  }
  & > div {
    position: relative;
  }
  word-break: break-word;
}
.form-field:first-child {
  margin-top: 0;
}
.form-field:last-child {
  margin-bottom: 0px;
}

.checkbox-inline {
  height: 32px;
  line-height: 30px;
  margin-bottom: -3px;
}

.error-field {
  display: inline-block;
  padding: 3px 0;
  font-size: 13px;
  color: var(--red-chart);
}

form[disabled] .form-label,
form[disabled] form {
  color: var(--text-disabled);
}

/* input file */

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.input-file-label {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  border: none;
  background-color: #555;
  color: #fff;
  z-index: 5;
  cursor: pointer;
  &:hover {
    background-color: #777;
  }
  &.error {
    background: var(--red-chart);
  }
  &.valid {
    background: #2d9e49;
  }
}

.form-field-wrapper {
  padding: 25px 10px;
  border: var(--border-block);
  background-color: #fcfcfc;
  margin: 0 20px 20px 0;
  font-size: 15px;
  line-height: 20px;
  background-color: #fff;
  @include borderRadius(3px);
  & > div {
    padding: 0 10px;
    /* white-space: nowrap; */
    margin: 10px 0;
    &:first-child {
      margin: 0 0 10px 0;
    }
    &:last-child {
      margin: 10px 0 0 0;
    }
  }
}

/*** FORM INFO ***/

.form-info-container {
  padding: 0 20px;
  border-left: var(--border-button);
  .form-info-sub-part {
    padding: 0 20px;
  }
  .form-info-title {
    padding: 0 0 5px 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    &.lowercase {
      text-transform: none;
    }
  }
  .form-info-content {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    font-size: 14px;
    line-height: 20px;
  }
  .form-info-list {
    margin: 0 0 10px 0;
    line-height: 18px;
    li {
      padding-bottom: 5px;
      strong {
        font-weight: 500;
      }
    }
  }
}

.user-settings-img {
  display: inline-block;
  width: 120px;
  height: auto;
  margin: 5px;
}

input.search,
input[type="search"] {
  line-height: 30px;
  padding-right: 20px;
  position: relative;
  display: inline-block;
  background-image: url("../public/img/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 100% center;
}

.user-connected-container {
  overflow: hidden;
  height: 24px;
  .user-connected {
    display: inline-block;
    font-size: 12px;
    padding: 0 3px;
    @include borderRadius(3px);
    margin: 3px 3px 0 3px;
    background-color: var(--text-primary);
    color: #fff;
    font-weight: 500;
  }
}

.form--highlights {
  width: calc(3 * 276px + 1rem);
}

.service-box {
  font-size: 14px;
}

.service-box label p {
  font-size: 14px;
  margin-bottom: 0;
}

.service-box label {
  border-radius: 4px;
  border: var(--border-block);
  box-shadow: var(--shadow-block);

  width: 15rem;
  display: inline-flex;

  padding: 1rem;
  margin: 1px;
}

.service-box > input {
  display: none;
}

.service-box > input[disabled] + label {
  background-color: var(--background-disabled);
  color: var(--text-disabled);
  cursor: not-allowed;
}

.service-box > input:checked + label {
  border-color: var(--green-chart);
  border-width: 2px;
  margin: 0px;
}

.service-box__title {
  height: 32px;
}

.service-box[alreadygenerated] .service-box__title .icon.apply {
  background-color: var(--primary-color);
}

.service-box[alreadygenerated] .service-box__title {
  color: var(--primary-color);
}

.service-box[alreadygenerated] label .service-box__erase-msg {
  display: none;
}

.service-box[alreadygenerated] > input:checked + label .service-box__erase-msg {
  display: flex;
}

.service-box label:hover,
fieldset[role="listbox"].selectable:hover {
  border-color: var(--green-chart);
}

fieldset[role="listbox"] {
  padding: 1rem;
  border-radius: 4px;
  border: var(--border-block);
  box-shadow: var(--shadow-block);
  margin: 1px;
  &[selected="selected"] {
    border-color: var(--green-chart);
    border-width: 2px;
    legend {
      color: var(--green-chart);
    }
    margin: 0px;
  }

  legend {
    float: left;
    width: 100%;
    //padding: 0;
    //padding: 0 5px;
    font-variant: small-caps;
  }
}

.user-settings-notification {
  padding: 5px 10px;
  border: 1px solid var(--red-chart);
  @include borderRadius(3px);
  margin: 5px 0;
  .content {
    font-size: 13px;
    font-weight: 500;
    color: var(--red-chart);
  }
  .btn {
    margin: 0 0 0 10px;
    padding: 0 5px 0 3px;
    .label {
      font-size: 12px;
    }
  }
}
.email-verified-notif {
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  color: var(--green-chart);
  border: 1px solid var(--green-chart);
  font-style: italic;
  @include borderRadius(3px);
  margin: 5px 0;
}
