.conversation-share-list {
  display: inline-block;
  padding: 5px;
  border: var(--border-button);
  @include blockShadow;
  background-color: #fff;
  z-index: 5;
  position: absolute;
  top: 35px;
  right: 0;
  width: 420px;
  max-height: 400px;
  overflow: auto;
  .conversation-share-item {
    padding: 5px;
    &:hover {
      background-color: #eee;
    }
    &.active {
      background-color: #ddd;
    }
    select,
    input {
      min-width: 80px;
    }
  }
  .conversation-share-val {
    font-size: 13px;
  }
}

// .search-member-invite-container {
//   width: 100%;
//   background-color: #ccc;
//   padding: 2px 5px 2px 35px;
//   box-sizing: border-box;
//   .search-member-invite {
//     line-height: 30px;
//     font-weight: 600;
//   }
// }

// .search-member-list {
//   background-color: #fff;
//   box-sizing: border-box;
//   padding: 0;
//   border: var(--border-button);
//   max-height: 200px;
//   overflow-y: auto;
//   .search-member-btn {
//     width: 100%;
//     padding: 5px;
//     border: none;
//     margin: 0;
//     @include borderRadius(0);

//     &:hover {
//       background-color: var(--green-chart);
//       border: none;
//       .search-member-identity {
//         color: #fff;
//         i {
//           color: #fff;
//         }
//       }
//     }
//     &.share {
//       background-color: #dedede;
//       &:hover {
//         &:after {
//           content: "Share";
//           display: inline-block;
//           position: absolute;
//           top: 10px;
//           left: 100%;
//           margin-left: -50px;
//           color: #777;
//           text-transform: uppercase;
//           font-size: 12px;
//         }
//       }
//     }
//   }
//   &.no-result {
//     border: none;
//     padding: 10px;
//     font-style: italic;
//     color: var(--red-chart);
//     font-size: 14px;
//     font-weight: 500;
//   }
// }

.search-member-img {
  display: inline-block;
  width: 30px;
  height: 30px;
}
// .search-member-identity {
//   text-align: left;
//   display: inline-block;
//   font-size: 14px;
//   line-height: 16px;
//   padding: 0 5px;
//   i {
//     display: inline-block;
//     width: 100%;
//     font-style: italic;
//     color: #555;
//     font-size: 13px;
//     line-height: 15px;
//     white-space: nowrap;
//     strong {
//       color: var(--red-chart);
//     }
//   }
// }
