.search-result-paginator {
  background-color: #d3d3d357;
  padding: 2px;
  padding-left: 2px;
  //border-radius: 6px;
  margin-top: 0.25rem;
  border: var(--border-block);
}

.search-result-paginator .label {
  text-align: center;
}
