#conversation.subtitles {
  padding: 0;
}

#player-seekbar {
  width: 100%;
  margin-left: 1rem;
}

#subtitle-player ::part(region) {
  height: fit-content !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  background-color: var(--background-primary);
}

#subtitle-player ::part(playing) {
  border-color: red !important;
}

#subtitle-player ::part(region-content) {
  padding: 0 0 0 1rem !important;
  margin: 0 !important;
  overflow: hidden;
  max-height: 100%;
  flex: 1;
}

.subtitle-list {
  list-style-type: none;
  padding: 0;
}

#version-list {
  max-width: calc(100% - 3rem);
  width: 50rem;
}

.subtitle-list-item {
  border: var(--border-block);
  border-radius: 4px;
  box-shadow: var(--shadow-block);
  background-color: var(--background-primary);
  margin: 0;
  padding: 1rem;

  & h3 {
    padding: 0;
    overflow: hidden;
    & > a {
      color: var(--blue-chart);
      text-overflow: ellipsis;
      max-width: 100%;
      font-weight: inherit;
    }
  }

  & .actions {
    margin-left: 1rem;
  }
}

.screen-timestamp {
  font-family: Noto Sans Mono, monospace;
}

.screen {
  // TODO: hover, ext...

  &.playing {
    background-color: var(--text-disabled);
  }
}

#screen-editor {
  max-width: 75%;
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 0.5rem;
  border: var(--border-block);
  border-radius: 5px;
}

.screen-preview {
  // padding: 0.5rem;
  padding: 0 0.25rem;
  height: calc(3em + 1.75rem);
  overflow: scroll;

  &.current {
    border: var(--border-block);
  }

  p {
    margin: 0.25rem 0;
  }
}

#screen-list {
  overflow-y: scroll;

  & > div:first-child {
    margin-top: 2rem;
  }

  & > div:last-child {
    margin-bottom: 2rem;
  }
}

#video-player {
  margin: 5rem 5rem 1rem 5rem;
  position: relative;

  & .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  & .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    align-items: center;
    & .video-content {
      position: relative;
      align-items: center;
      max-width: 100%;
      max-height: 100%;
    }
    & video,
    img {
      position: relative;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.screen-container {
  position: absolute;
  align-items: center;
  bottom: 3rem;
  left: 0;
  width: 100%;
  font-size: 1.2rem;
  // white-space: nowrap;

  & .screen-line {
    color: white;
    width: fit-content;
    text-align: center;
    background: black;
  }
}
