.tabs-content-divider {
  height: 2px;
  border-bottom: var(--border-button);
  background-color: var(--background-secondary);
}

.tabs.col {
  .tab {
    border-left: 3px solid transparent;
    padding: 0.5rem 2rem;
    cursor: pointer;
    display: flex;
    margin: 1px;
    font-weight: normal;
  }

  .tab[selected],
  .tab.router-link-active {
    border-color: var(--primary-color);
    color: var(--primary-color);
    .icon {
      background-color: var(--primary-color);
    }
  }
}

.tab__label {
  position: relative;
  top: var(--text-vertical-center-offset);
}
