.tabs.row {
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: var(--border-button);
  padding-left: 2px;

  .tab {
    padding: 0.5rem 1rem;

    cursor: pointer;
    display: flex;
    margin: 1px;
    border-radius: 4px 4px 0px 0px;
  }

  .tab:hover {
    border: var(--border-block);
    padding-bottom: calc(0.5rem + 1px);
    padding-top: calc(0.5rem - 1px);
    position: relative;
    top: 1px;
    border-bottom: 1px solid transparent;
    //border-top-color: primaryColor;
    margin: 0;
    //box-shadow: 0 -4px 4px 0 rgba(67, 76, 95, 0.3);
    /*
  border: var(--border-block);
  padding: calc(0.5rem - 2px) calc(1rem - 2px);*/
  }

  .tab[selected] {
    //background-color: white;
    border: var(--border-button);
    padding-bottom: calc(0.5rem + 1px);
    padding-top: calc(0.5rem - 1px);
    position: relative;
    top: 1px;
    border-bottom: 1px solid var(--background-secondary);
    //border-top-color: primaryColor;
    margin: 0;
    //box-shadow: 0 -4px 4px 0 rgba(67, 76, 95, 0.3);
    background-color: var(--background-secondary);
  }
}

.tabs-content-divider {
  height: 2px;
  border-bottom: var(--border-button);
  background-color: var(--background-secondary);
}

.tabs.col {
  .tab {
    border-left: 3px solid transparent;
    padding: 0.5rem 2rem;
    cursor: pointer;
    display: flex;
    margin: 1px;
    font-weight: 600;
  }

  .tab[selected],
  .tab.router-link-active {
    border-color: var(--primary-color);
    color: var(--primary-color);
    .icon {
      background-color: var(--primary-color);
    }
  }
}
