@media only screen and (max-width: 1100px) {
  .dropdown-channel-selector {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-primary);
    border-top: var(--divider);
    gap: 1rem;
    box-shadow: var(--shadow-block);
  }

  .session-header-desktop {
    display: none;
  }

  .mobile.session-header-mobile {
    display: flex !important;
  }

  .bottom-session-button-desktop {
    display: none;
  }

  .bottom-session-button-mobile {
    display: flex;
    bottom: 8rem;
  }

  .session-content__title {
    display: none;
  }

  .session-content__action-bar__copy-btn-desktop {
    display: none;
  }

  .mobile.session-content__action-bar__copy-btn-mobile {
    display: flex !important;
  }

  .session-content__action-bar__reset-btn-desktop {
    display: none;
  }

  .mobile.session-content__action-bar__reset-btn-mobile {
    display: flex !important;
  }
}

.subtitle-fullscreen__header {
  button .icon {
    background-color: white !important;
  }
}

.subtitle-fullscreen-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 50;
}

@media (orientation: landscape) {
  .subtitle-fullscreen-container {
  }

  .subtitle-fullscreen__content > canvas {
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

@media (orientation: portrait) {
  .subtitle-fullscreen__rotate {
    position: absolute;
    transform: rotate(90deg);
    width: 100vh;
    height: 100vw;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(90deg);
  }

  .subtitle-fullscreen__content > canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vh;
    transform: translate(-50%, -50%); //rotate(90deg)
  }
}

.subtitle-fullscreen-canvas {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%;
}
